@charset "utf-8";
.s2-order-container {width:980px;margin:0 auto;position:relative;*zoom:1;}
.s2-order-container h1 {height:70px;line-height:70px;font-size:16px;font-weight:bold;font-family:'新宋体','宋体';}
.s2-order-container h1 em {font-weight:bold;}
.s2-order-main {width:760px;padding:10px;background-color:#FAE2EE;}
.s2-order-container .progress-bar-ticket1 {position:absolute;right:0;top:25px;display:block;width:191px;height:30px;background:url(http://pic.lvmama.com/img/super_v2/s2_order_icons.gif) no-repeat -40px -42px;}
.s2-order-container .progress-bar-ticket2 {position:absolute;right:0;top:25px;display:block;width:191px;height:30px;background:url(http://pic.lvmama.com/img/super_v2/s2_order_icons.gif) no-repeat -40px -91px;}
.s2-order-container .progress-bar-ticket3 {position:absolute;right:0;top:25px;display:block;width:191px;height:30px;background:url(http://pic.lvmama.com/img/super_v2/s2_order_icons.gif) no-repeat -40px -146px;}
.s2-order-container .progress-bar-other1 {position:absolute;right:0;top:25px;display:block;width:320px;height:30px;background:url(http://pic.lvmama.com/img/super_v2/progress_bar_other.gif) no-repeat 0 0;}
.s2-order-container .progress-bar-other2 {position:absolute;right:0;top:25px;display:block;width:320px;height:30px;background:url(http://pic.lvmama.com/img/super_v2/progress_bar_other.gif) no-repeat 0 -41px;}
.s2-order-container .progress-bar-other3 {position:absolute;right:0;top:25px;display:block;width:320px;height:30px;background:url(http://pic.lvmama.com/img/super_v2/progress_bar_other.gif) no-repeat 0 -81px;}
.s2-order-container .progress-bar-other4 {position:absolute;right:0;top:25px;display:block;width:320px;height:30px;background:url(http://pic.lvmama.com/img/super_v2/progress_bar_other.gif) no-repeat 0 -121px;}
.s2-order-container .progress-bar-other5 {position:absolute;right:0;top:25px;display:block;width:320px;height:30px;background:url(http://pic.lvmama.com/img/super_v2/progress_bar_other.gif) no-repeat 0 -160px;}

.tips-area {background-color:#FFF8D8;padding:10px 20px;margin:0 0 10px;width:737px;line-height:20px;border:1px solid #FFDFA6;}
.new-order {background:none;border:none;}
.tips-area p {padding:0 0 0 35px;}
.tips-title {min-height:26px;line-height:26px;background:url(http://pic.lvmama.com/img/super_v2/s2_order_icons.gif) no-repeat -270px -75px;}
.new-order .tips-title {color:#333;line-height:18px;background-position:-270px -186px;}
.tips-title em {color:#390;}
.tips-title strong {color:#390;font-size:14px;font-weight:bold;}

.order-pay {clear:both;color:#333;width:600px/*690px*/;min-height:120px/*400px*/;height:auto!important;height:120px;padding:20px/* 20px 20px 0*/;margin:0 auto 10px/*0 0 0 55px*/;border-top:3px solid #FFDFA6;position:relative;background-color:#fff;}
.order-pay p {padding:0 0 20px;}
.layer-block {display:none;border:1px solid #E9E9E9;background-color:#FAFAFA;padding:10px 10px 5px 10px;margin:0 0 20px;width:400px;}
.layer-block ul {width:400px;overflow:hidden;}
.layer-block ul li {float:left;width:400px;line-height:28px;margin:0 0 8px;}
.layer-block .l-name label, .layer-block .l-mobile label {/*margin-left:-70px;*/}
.layer-block .l-code p {padding:0 0 10px 72px;line-height: 18px}
.layer-block .l-code .btn-yanzheng {margin:0 0 0 72px;padding:3px 15px;}
.order-pay .m-tips {position:absolute;top:20px;right:20px;width:150px;line-height:20px;height:110px;padding:10px 0 0 75px;background:url(http://pic.lvmama.com/img/super_v2/m_icon.gif) no-repeat 0 0;}

.s2-info-area {background-color:#fff;padding:10px;margin:0 0 5px;}
.s2-info-area h3, .s2-info-area h4 {font-weight:bold;background:url(http://pic.lvmama.com/img/super_v2/s2_order_icons.gif) no-repeat 9999em 0;}
.s2-info-area h3 {color:#d06;font-size:14px;height:45px;line-height:45px;padding:0 0 0 25px;background-position:-283px 15px;}
.s2-info-area h4 {color:#333;font-size:12px;height:25px;line-height:25px;padding:0 0 0 20px;background-position:-283px -24px;}
.s2-info-area h3 em {font-size:12px;}
.s2-info-area ul {width:740px;overflow:hidden;}
.s2-info-area li {color:#333;min-height:30px;line-height:30px;padding:0 0 0 10px;border-bottom:1px dashed #E5E5E5;*zoom:1;}
.s2-info-area .data-head {height:30px;line-height:30px;background-color:#F2F2F2;border-top:1px solid #E5E5E5;border-bottom:none;}
.s2-info-area li del,.s2-info-area li strong,.s2-info-area li em {color:#333;text-decoration:none;}
.t-margin {margin:0 0 10px;text-align:center;}
.t-margin input {border:none;}
.t-datetime {float:left;display:inline-block;width:95px;}
.t-title {float:left;display:inline-block;width:330px;}
.t-title-width {width:350px;}
.t-title-ticket_w {width:250px;}
.t-price, .t-memberprice, .t-unit, .s2-info-area li del, .s2-info-area li strong {float:left;display:inline-block;width:75px;}
.t-bonus, .t-num, .s2-info-area li em {float:left;display:inline-block;width:50px;}
.t-total{float:left;display:inline-block;width:85px;text-align:center;}
.add-minus {position:relative;display:inline-block;width:85px;}
.h-title {min-height:30px;line-height:30px;border-bottom:1px solid #E5E5E5;margin:0 0 10px;position:relative;}
.h-title strong {color:#333;font-weight:bold;}
.h-title span {display:inline-block;position:absolute;right:0!important;*right:20px;*top:0px;_top:-10px;}
.o-content {line-height:35px!important;min-height:35px;padding:0 10px;margin:0 auto 10px;}
.o-content input {_margin:15px 0 0;}
.o-content strong {color:#f00;}
.o-content span {color:#999;}
.s2-coupon {width:380px;min-height:30px;line-height:30px;margin:0 0 15px;border:1px solid #FFDFA6;background-color:#FFF9D9;padding:20px;position:relative;left:20px;*left:25px;_top:5px;}
.coupon-num {height:28px;line-height:28px;padding:0 2px;border:1px solid #BDBDBD;*display:inline;}
.s2-coupon strong {display:block;padding:10px 0 0 95px;}
.s2-info-area input.input-text {padding:0 1px;border:1px solid #7F9DB9;}
.t-num select {width:40px;border:1px solid #7F9DB9;}
.s2-info-area input.input-add-minus {height:18px;border:1px solid #B2B2B2;margin:0 2px 0 20px;}
.s2-info-area button {width:18px;height:18px;border:none;background:url(http://pic.lvmama.com/img/super_v2/s2_order_icons.gif) no-repeat 9999em 0;position:absolute;top:6px;_top:2px;cursor:pointer;overflow:hidden;text-indent:9999px;white-space:nowrap;}
.s2-info-area button.button-minus {background-position:-213px 0;}
.s2-info-area button.button-add {background-position:-131px 0;}
.invoice_btn {display:block;margin:20px 0 0 105px;}

.s2-info-area dl {margin:0 0 15px;}
.s2-info-area dt {clear:both;float:left;width:90px;line-height:25px;min-height:25px;padding:0 0 0 15px;position:relative;}
.s2-info-area .dt-150px {width:150px;}
.s2-info-area dd.line-label label {float:left;line-height:25px;margin-right:15px;}
.s2-info-area dd.line-label input {border:none;}
.s2-info-area dd {min-height:35px;padding:0 0 0 95px;_zoom:1;_padding:4px 0;}
.s2-info-area dt span {color:#f00;margin-left:-5px;}
.s2-info-area dt strong {color:#333;}
.s2-info-area dt input {_margin-bottom:-1px;}
.s2-info-area dd select {margin:0 2px 0 22px;border:1px solid #7F9DB9;}
.s2-info-area dd select.mg {margin:0 2px;}
.s2-info-area dd.celect-margin select {margin:0 22px 0 2px;}
.s2-info-area dd input {float:left;height:25px;line-height:25px;padding:0 2px;margin:0 2px;border:1px solid #7F9DB9;}
.s2-info-area td input {float:left;height:25px;line-height:25px;padding:0 2px;margin:0 2px;border:1px solid #7F9DB9;}
.s2-info-area dd textarea {border:1px solid #7F9DB9;line-height:20px;color:#999;}
.savename {position:absolute;right:-640px;}

.no-login dt {width:50px;height:35px;}
.no-login dd {padding:0 0 0 55px;height:35px;}
.no-login .btn-login {margin-left:65px;}

.trav-info-title {color:#000;font-size:14px;font-weight:bold;}
#tra_info li {border:none;padding:10px 0;}
#tra_info li p {padding:0 0 0 20px;}
.travellor {position:relative;}
.travellor th {height:22px;line-height:22px;background-color:#e5e5e5;position:relative;}
.travellor th input {_margin-bottom:-2px;}
.travellor td {height:35px;padding:0 0 0 10px;}
li .savename {position:inherit;right:10px;/*top:1px;*/font-weight:100;}

.qijiashuoming {cursor:help;color:#05e;font-size:12px;font-weight:100;text-decoration:none;display:inline-block;margin:0 0 0 10px;padding:0 15px 0 0;background:url(http://pic.lvmama.com/img/super_v2/s2_order_icons.gif) no-repeat 50px 19px;}

.adress-info {margin:5px 20px;}
#adress_info {padding:0 20px 0 0;}
.adress-info strong {color:#333;font-weight:bold;}
.adress-div {width:540px;padding:10px 30px 20px;margin:5px 20px;border:1px solid #FFDFA6;background-color:#FFF9D9;position:relative;}
.up-arraw {position:absolute;top:-7px;width:7px;height:7px;background:url(http://pic.lvmama.com/img/super_v2/s2_order_icons.gif) no-repeat -55px -1px;}
.edit .up-arraw {right:215px;}
.choice .up-arraw {right:135px;}
.adress-div ul {width:100%}
.adress-div ul li {border:none;line-height:30px;min-height:30px;}
.adress-div ul li input {margin:15px 0 0;}
.adress-div ul li input.save-btn {margin-left:40px;}

.confirm-submit-area {min-height:30px;padding:10px 30px 10px;}
.order-submit-btn {cursor:pointer;background:url(http://pic.lvmama.com/img/super_v2/btn_icons.gif) no-repeat 0 -55px;border:medium none;height:35px;width:105px;position:absolute;text-indent:9999em;overflow:hidden;white-space:nowrap;}
.xieyi {margin:70px 0 0;overflow:hidden;*zoom:1;}
.buy-agreecon {color:#333;background:none repeat scroll 0 0 #FAFAFA;border:1px solid #CCCCCC;float:left;height:80px;line-height:20px;overflow:auto;padding:10px;margin:10px 0 0 20px;_margin-left:13px;width:500px;}
.buy-agreecon h5 {font-size:14px;font-weight:bold;padding:2px 0 5px;}
.buy-agreecon strong {color:#333;font-weight:bold;}

.side-layer {width:186px;padding:2px;background-color:#FAE2EE;}
.side-layer h3 {text-align:center;color:#d06;font-weight:bold;font-size:14px;min-height:30px;line-height:30px;}
.side-layer div {background-color:#fff;overflow:hidden;*zoom:1;}
.side-layer div ul {margin:20px 15px;}
.side-layer div li {line-height:22px;min-height:22px;}
.side-layer div li.total-money {word-wrap: break-word;}
.side-layer div li.total-money span {white-space: nowrap;}
.side-layer div li strong {font-size:18px;font-weight:bold;font-family:Tahoma, Arial;}

.shuoming {display:none;position:absolute;z-index:99;background-color:#FFF0FF;border:1px solid #D7D7D7;color:#666666;padding:10px 15px;width:350px;}
.shuoming strong {color:#333;font-weight:bold;}

.s2-onlinepay-detail {width:780px;color:#666;margin:10px 0;overflow:hidden;}
/*tag menu*/
.s2-onlinepay-detail ul.tag-menus {width:780px;height:30px;border-bottom:1px solid #D50976;}
.s2-onlinepay-detail ul.tag-menus li {position:relative;bottom:-1px;float:left;cursor:pointer;height:30px;font-size:14px;font-weight:bold;padding-left:25px;margin-right:5px;background:url(http://pic.lvmama.com/img/super_v2/s2_detail_icons.gif) 0 -399px no-repeat;}
.s2-onlinepay-detail ul.tag-menus li.currentli {color:#c06;background:url(http://pic.lvmama.com/img/super_v2/s2_detail_icons.gif) 0 -360px no-repeat;}
.s2-onlinepay-detail ul.tag-menus li a {color:#000;text-decoration:none;display:inline-block;padding:5px 25px 0 0;height:25px;background:url(http://pic.lvmama.com/img/super_v2/s2_detail_icons.gif) right -399px no-repeat;}
.s2-onlinepay-detail ul.tag-menus li.currentli a {color:#c06;background:url(http://pic.lvmama.com/img/super_v2/s2_detail_icons.gif) right -360px no-repeat;}
/*online pay detail */
#tagcontent {padding:20px 25px;border-width:0 1px 1px;border-color:#D50976;border-style:solid;}
#tagcontent li {overflow:hidden;*zoom:1;}
.pay_tagcontent1 li {padding:5px 0;}
.pay_tagcontent1 span {float:left;display:inline-block;}
.pay_tagcontent1 .span01 {width:140px;}
.pay_tagcontent1 .span02 {width:480px;min-height:35px;line-height:35px;}
.pay_tagcontent1 .span03 {width:90px;}
.pay_tagcontent2 {padding-left:10px;}
.pay_tagcontent2 img {float:left;margin:0 55px 30px 0;}
.pay_tagcontent2 p {line-height:25px;}
.pay_tagcontent2 div img, .pay_tagcontent3 div img {float:none;margin:10px 0;}
.pay_tagcontent2 strong {color:#000;font-weight:bold;}
.pay_tagcontent2 h3, .pay_tagcontent3 h3 {clear:both;color:#000;font-size:14px;font-weight:bold;margin:0;}
.pay_tagcontent3 h3 {padding:30px 0 0;}
.pay_tagcontent3 td {color:#333;height:25px;line-height:25px;}
.pay_tagcontent3 td strong {color:#000;font-weight:bold;}

.pay-info {color:#000;padding:15px 40px;}
.top-border, .pay-info dl {border-top:1px solid #F2F2F2;}
.pay-info table, .pay-info dl {width:580px;margin:5px 0 10px 0;}
.pay-info table th {color:#666;padding:10px 0 0;text-align:left;}
.pay-info table tfoot td {color:#390;padding:15px 0 10px;}
.pay-info td {height:30px;line-height:30x;}
.pay-info .top-border td {height:22px;line-height:22x;}
.num-td {width:30%;}
.pay-info span {color:#a0a0a0;}
.pay-info strong {font-weight:100;color:#000;}
.pay-info h2 {font-size:18px;font-weight:bold;}
.pay-info h2 strong {color:#f50;}
.order-bottom-detail {line-height:20px;color:#666;}
.order-bottom-detail p {color:#9f9f9f;margin:25px 0 0;padding:5px 0 5px 30px;background:url(http://pic.lvmama.com/img/super_v2/s2_order_icons.gif) no-repeat -272px -120px;}
.pay-info dt {padding-left:0;color:#666;min-height:30px;line-height:30px;}
.pay-info dd {min-height:30px;line-height:30px;_padding:0;}
.pay-info dd li {border:none;list-style:decimal inside;padding-left:0;}

.online-pay-info em {color:#666;}
.online-pay-info em strong {color:#f50;font-size:14px;font-family:Tahoma, Arial;}

.margin10_0 {margin:10px 0;}
.top0 {top:0;_top:10px;}

/*view order*/
.s2-view-order .tips-area {margin:10px auto;width:938px;}
.s2-view-order .tips-area strong, .s2-view-order .tips-area span {padding:0 35px 0 0;}
.s2-view-order .tips-area strong {color:#000;font-size:14px;font-weight:bold;}
.s2-view-order .tips-area span strong {color:#f50;font-size:12px;font-weight:bold;}
.s2-view-order .tips-area span {color:#333;}
.s2-view-order .tips-area em {color:#390;}
.s2-view-order .s2-order-main {width:960px;}
.s2-view-order h2 {color:#d06;font-weight:bold;font-size:14px;text-align:center;width:100px;height:30px;line-height:30px;margin-bottom:-1px;border-width:1px 1px 0;border-style:solid;border-color:#F9C9E1;background-color:#fff;position:relative;z-index:10;}
.s2-view-order .pay-info {border:1px solid #F9C9E1;padding:20px;}
.s2-view-order table {width:100%;margin:30px 0 0;}
.s2-view-order caption {height:22px;text-align:left;font-weight:bold;}
.s2-view-order thead {font-weight:100;background-color:#F2F2F2;border-top:1px solid #D0D0D0;}
.s2-view-order thead th {height:25px;font-weight:100;padding:0 0 0 10px;}
.s2-view-order tbody td {height:28px;padding:0 0 0 10px;border-bottom:1px dashed #E5E5E5;}
.s2-view-order tfoot {text-align:right;}
.s2-view-order tfoot span, .s2-view-order tfoot strong {color:#000;padding-left:20px;}
.s2-view-order tfoot em {color:#f50;}
.align-left {text-align:left;}
.s2-view-order dl {color:#d06;margin:15px 20px;}
.s2-view-order dt {line-height:30px;min-height:30px;padding:0;clear:both;float:left;position:relative;width:110px;font-weight:bold;}
.s2-view-order dd {line-height:30px;min-height:30px;padding:0 0 0 115px;}
.s2-view-order dd li {border:none;list-style:decimal inside;padding:0;border-bottom:1px dashed #E5E5E5;line-height:30px;min-height:30px;}
.s2-view-order .pay-info li {border:none;min-height:25px;line-height:25px;}
.s2-view-order .pay-info h3 {color:#000;height:25px;line-height:25px;padding:0;margin-top:30px;background:none;border-bottom:1px solid #D0D0D0;}

.tipsinfo2 {position:releative;padding:0 0 10px 50px;}
.tipsinfo2 s { background: url(http://pic.lvmama.com/img/super_v2/s2_order_icons.gif) no-repeat -270px -74px;display: block;height: 30px;left: 30px;position: absolute;width: 30px;}

