<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName"><value>${jdbc.driverClassName}</value></property>
		<property name="url"><value>${jdbc.url}</value></property>
		<property name="username"><value>${jdbc.username}</value></property>
		<property name="password"><value>${jdbc.password}</value></property>
		<property name="maxActive"><value>${jdbc.maxActive}</value></property>
		<property name="maxWait"><value>${jdbc.maxWait}</value></property>
		<property name="maxIdle"><value>${jdbc.maxIdle}</value></property>
		<property name="initialSize"><value>${jdbc.initSize}</value></property>
		<property name="removeAbandoned"><value>true</value></property>
	</bean>
	<!--
	<bean id="dataSource" class="com.p6spy.engine.spy.P6DataSource"  >  
       <constructor-arg>  
           <ref local="dataSource_spring"/>  
       </constructor-arg>  
	</bean>
	-->
	<!-- 财务对账暂时不使用文件平台
	<bean id="baseIbatisDao" class="com.lvmama.common.dao.BaseIbatisDao" abstract="true">
		<property name="ibatisSqlMapClient">
	      <ref bean="sqlMapClient"/>
	    </property>
		<property name="myDataSource">
	      <ref bean="dataSource"/>
	    </property>
	</bean> -->
	
	<!-- SqlMap setup for iBATIS Database Layer -->
    <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation">
            <value>classpath:sqlmap-finance-config.xml</value>
        </property>
        <property name="mappingLocations">
			<value>classpath*:/com/lvmama/finance/**/*-SqlMap.xml</value>
		</property>
        <property name="lobHandler" ref="lobHandler"/>
    </bean>
    
    <bean id="baseIbatisDao" class="com.lvmama.comm.BaseIbatisDAO" abstract="true">
		<property name="sqlMapClient">
	      <ref bean="sqlMapClient"/>
	    </property>
		<property name="dataSource">
	      <ref bean="dataSource"/>
	    </property>
	</bean>

	<!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource">
            <ref local="dataSource"/>
        </property>
    </bean>
    <!-- 定义事务拦截器 -->
	<bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<!-- 事务拦截器需要依赖注入一个事务管理器 -->
		<property name="transactionManager">
			<ref bean="transactionManager"/>
		</property>
		<property name="transactionAttributes">
			<!-- 定义事务传播属性 -->
			<props>
				<prop key="get*">readOnly</prop>
				<prop key="search*">readOnly</prop>
				<prop key="find*">readOnly</prop>
				<prop key="*">PROPAGATION_REQUIRED,-Exception</prop>
			</props>
		</property>
	</bean>
	<!-- 配置按名称自动完成事务代理 -->
	<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<!-- 指定事务拦截器 -->
		<property name="interceptorNames">
			<list>
				<value>transactionInterceptor</value>
			</list>
		</property>
		<property name="beanNames">
			<list>
				<value>*Service</value>
				<value>*ServiceImpl</value>
			</list>
		</property>
	</bean>
	<bean id="lobHandler"  class="org.springframework.jdbc.support.lob.DefaultLobHandler"/>  
</beans>