
/* 
 @名称: dialog.css
 @功能: 模态窗口-弹出对话框
 */

/* 遮罩 */
.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 4000;
    background-color: #000;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

/* 弹出框 */
.dialog {
    position: fixed;
    _position: absolute;
    z-index: 5000;
    border: 0;
    width:400px;
    font:12px/22px Tahoma,Arial,\5b8b\4f53,sans-serif;
    color: #4d4d4d;
}

.dialog .btn {
    
}

.dialog .dialog-close {
    position: absolute;
    top: 0;
    z-index: 10;
    right: 0;
    margin: 0;
    padding: 0;
    width: 36px;
    height: 32px;
    overflow: hidden;
    line-height: 30px;
    text-align: center;
    font-family: Tahoma,Arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    color: #fff;
}
.dialog .dialog-close:hover {
    height: 30px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-decoration: none;
    background:#cc3300;
    border:1px solid #cc0000;
    color:#fff;
}

.dialog-inner {
    position: relative;
    z-index: 5;
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
    background: #fff;
}

.dialog-header {
    margin: 0;
    padding: 0 10px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-weight: bold;
    background: #eee;
}

.dialog-header small {
    font-weight: normal;
    font-size: 12px;
    color: #333;
}

.dialog-header:empty {
    display: none;
}

.dialog-body {
    padding: 20px 20px 20px;
}

.dialog-body h3,
.dialog-body h4 {
    margin:0 0 10px;
}


.dialog-body p {
    margin:0 0 10px;
}
.dialog-body .dialog-content {
    width: 100%;
    height: 100%;
}


.dialog-footer {
    padding: 0 20px 20px;
    text-align: right;
}

.dialog-footer .btn,
.dialog-footer .pbtn {
    margin-left: 10px;
    cursor: pointer;
    border:0;
}

.dialog .tc {
    text-align: center;
}
.dialog .tc .btn,
.dialog .tc .pbtn {
    margin: 0 5px;
}

/* 尺寸 */
.dialog-mini .dialog-header {
    display: none;
}
.dialog-mini .dialog-body {
    padding-top: 30px;
}


.dialog-msg .dialog-close,
.dialog-msg .dialog-header,
.dialog-msg .dialog-footer {
    display: none;
}
.dialog-msg {
    width: auto;
    _width: 150px;
    *zoom: 1;
}
.dialog-msg .dialog-body {
    padding: 15px 30px;
}

.dialog-mini {
    width: 300px;
}
.dialog-small {
    width: 400px;
}
.dialog-middle {
    width: 600px;
}
.dialog-big {
    width: 800px;
}
.dialog-large {
    width: 990px;
}

/* 皮肤 */
.dialog-default {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#66000000, endColorstr=#66000000);
}

.dialog-blue {
    padding:2px;
    width: 400px;
    background-color: #538ED7;
}
.dialog-blue .dialog-header {
    height: 36px;
    line-height: 34px;
    background-color: #538ED7;
    color: #fff;
}

.dialog-blue .dialog-close {
    width: 28px;
    height: 30px;
}


/* 按钮 */
.pbtn-small {
    height: 30px;
    padding: 0 20px;
}

.dialog-blue .btn-ok {
    color: #fff;
    background: #4D90FE;
    border: 1px solid #3F87FE;
}
.dialog-blue .btn-ok:hover {
    background: #166DFE;
    border: 1px solid #2979FE;
}
.dialog-blue .btn-cancel {
    background: #F5F5F5;
    border: 1px solid #CCC;
}

/* loading效果 */
.dialog-loading .dialog-header,
.dialog-loading .dialog-footer,
.dialog-loading .dialog-close {
    display: none;
}
.dialog-loading .dialog-content {
    padding: 20px 0 20px;
    /*background: url(../img/loading.gif) #fff center 30px no-repeat;*/
    text-align: center;
    font-size: 14px;
}