<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName"><value>${jdbc.driverClassName}</value></property>
		<property name="url"><value>${jdbc.url}</value></property>
		<property name="username"><value>${jdbc.username}</value></property>
		<property name="password"><value>${jdbc.password}</value></property>
		<property name="maxActive"><value>${jdbc.maxActive}</value></property>
		<property name="maxWait"><value>${jdbc.maxWait}</value></property>
		<property name="maxIdle"><value>${jdbc.maxIdle}</value></property>
		<property name="initialSize"><value>${jdbc.initSize}</value></property>
		<property name="removeAbandoned"><value>true</value></property>
		<property name="testOnBorrow">   <value>true</value>  </property>
	    <property name="testOnReturn">   <value>true</value>  </property>
	    <property name="testWhileIdle">   <value>true</value>  </property>
	    <property name="minEvictableIdleTimeMillis">   <value>180000</value>  </property>
	    <property name="timeBetweenEvictionRunsMillis">   <value>360000</value>  </property>
	    <property name="validationQuery">   <value>SELECT 1 FROM SYS.DUAL</value>  </property>
	</bean>
	<bean id="dataSourceSc" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName"><value>${jdbc.driverClassName}</value></property>
		<property name="url"><value>${jdbc_2.url}</value></property>
		<property name="username"><value>${jdbc_2.username}</value></property>
		<property name="password"><value>${jdbc_2.password}</value></property>
		<property name="maxActive"><value>${jdbc.maxActive}</value></property>
		<property name="maxWait"><value>${jdbc.maxWait}</value></property>
		<property name="maxIdle"><value>${jdbc.maxIdle}</value></property>
		<property name="initialSize"><value>${jdbc.initSize}</value></property>
		<property name="removeAbandoned"><value>true</value></property>
		<property name="testOnBorrow">   <value>true</value>  </property>
	    <property name="testOnReturn">   <value>true</value>  </property>
	    <property name="testWhileIdle">   <value>true</value>  </property>
	    <property name="minEvictableIdleTimeMillis">   <value>180000</value>  </property>
	    <property name="timeBetweenEvictionRunsMillis">   <value>360000</value>  </property>
	    <property name="validationQuery">   <value>SELECT 1 FROM SYS.DUAL</value>  </property>
	</bean>
	<!-- SqlMap setup for iBATIS Database Layer -->
    <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="configLocation">
            <value>classpath:sqlmap-operate-config.xml</value>
        </property>
         
    </bean>
	<bean id="sqlMapClientSc" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="configLocation">
            <value>classpath:sqlmap-operate-sc-config.xml</value>
        </property>
    </bean>

	<!-- Transaction manager for a single JDBC DataSource -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource">
            <ref local="dataSource"/>
        </property>
    </bean>
    
	<bean id="txInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager">
			<ref bean="txManager"/>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,-Exception</prop>
				<!--<prop key="update">PROPAGATION_REQUIRED</prop>
				<prop key="delete">PROPAGATION_REQUIRED</prop>-->
			</props>
		</property>
	</bean>
	
	<bean id="txManagerSc" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource">
            <ref local="dataSourceSc"/>
        </property>
    </bean>
    
	<bean id="txInterceptorSc" class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager">
			<ref bean="txManagerSc"/>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,-Exception</prop>
				<!--<prop key="update">PROPAGATION_REQUIRED</prop>
				<prop key="delete">PROPAGATION_REQUIRED</prop>-->
			</props>
		</property>
	</bean>
	
	<bean id="txBeanNameProxyCreator" class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="interceptorNames">
			<list>
				<value>txInterceptorSc</value>
				<value>txInterceptor</value>
			</list>
		</property>
		<property name="beanNames">
			<list>
				<value>*Service</value>
			</list>
		</property>
	</bean>
	<bean id="lobHandler"  class="org.springframework.jdbc.support.lob.DefaultLobHandler"/>  
	<bean id="lobHandlerSc"  class="org.springframework.jdbc.support.lob.DefaultLobHandler"/>  
</beans>