#password,#username {
	width: 160px;
}

#indexHead {
	vertical-align: middle;
}

#indexHead a {
	vertical-align: middle;
	text-decoration: none;
	color: red;
	cursor: hand;
}

.itemIconSYSTEM {
	background: url("../img/icon/system.gif") repeat-x scroll 0 0 transparent;
	height: 20px;
	left: 3px;
	top: 2px;
	width: 20px;
	margin-right: 5px;
}
.itemIconPRODUCT {
	background: url("../img/icon/PRODUCT.gif") repeat-x scroll 0 0 transparent;
	height: 20px;
	left: 3px;
	top: 2px;
	width: 20px;
	margin-right: 5px;
}
.itemIconORDER {
	background: url("../img/icon/ORDER.gif") repeat-x scroll 0 0 transparent;
	height: 20px;
	left: 3px;
	top: 2px;
	width: 20px;
	margin-right: 5px;
}
.itemIconFINANCE {
	background: url("../img/icon/FINANCE.gif") repeat-x scroll 0 0 transparent;
	height: 20px;
	left: 3px;
	top: 2px;
	width: 20px;
	margin-right: 5px;
}
.itemIconCUSTOMER {
	background: url("../img/icon/CUSTOMER.gif") repeat-x scroll 0 0 transparent;
	height: 20px;
	left: 3px;
	top: 2px;
	width: 20px;
	margin-right: 5px;
}
.itemIconOPERATION {
	background: url("../img/icon/OPERATION.gif") repeat-x scroll 0 0 transparent;
	height: 20px;
	left: 3px;
	top: 2px;
	width: 20px;
	margin-right: 5px;
}
.itemIconMARKET {
	background: url("../img/icon/MARKET.gif") repeat-x scroll 0 0 transparent;
	height: 20px;
	left: 3px;
	top: 2px;
	width: 20px;
	margin-right: 5px;
}
.logIconTitle {
	background: url("../img/icon/log.gif") repeat-x scroll 0 0 transparent;
	height:30px;
}
.panel-with-icon {
	padding-left: 25px;
}
.layoutButtonLeft {
	top:0px;
	right:0px;
}

.logoHead {
	background: url("../themes/default/images/panel_title.png") repeat-x
		scroll 0 0 transparent;
	border: 1px solid #99BBE8;
	color: #15428B;
	font-size: 12px;
	font-weight: bold;
	height: 35px;
	line-height: 26px;
	position: relative;
	vertical-align: middle;
	padding-right: 15px;
}

#iframe {
	border: 0px;
}

.login {
	display: block;
	float: left;
	padding: 5px;
	text-align: right;
	width: 79px;
}
.floatRight {
	float: right;
}
.message {
	margin: 5px 20px;
	height: 10px;
	text-align: center;
}