/* Create:2013-01-29 订单传真样式  */
/* = Public Styles */
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,figure,menu{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.2 "\5b8b\4f53",Tahoma,Arial,Verdana,Geneva,sans-serif;font-family: SimSun;}
h1,h2,h3,h4,h5,h6{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
ol,ul{list-style:none}
img{border:none;vertical-align:top}
a{text-decoration:none}
a:hover{text-decoration:underline}
.block{display:block}

/* 清除浮动 */
.clearfix:after,.wrap:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}
.clearfix,.wrap{*zoom:1}/* for IE6 IE7 */
.wrap{ margin-left:auto; margin-right:auto; width:980px;position:relative;} 
img.zhang{position:absolute;left:145px;top:14px;}
/* = ZT Custom Styles */
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:bold;}
h3,h4{margin:10px 0 5px;}
h3{font-size:18px;}h3 small{font-size:12px;font-weight:normal}
h4{font-size:14px;}.f14{font-size:14px;}.f16{font-size:16px;}
a{color:#0077cc;}
a:hover{ color:#cc0066;}
body{color:#000;}.tl{text-align:left}.tc{text-align:center;}.tr{text-align:right}
.wrap{width:590px; padding:10px 0;margin:0px auto 20px}
.number{font-size:15px;}
.border{border:1px solid #000;}
.bt{border-bottom:1px solid #000;display:inline-block;min-width:80px;_widht:80px;line-height:1.2;padding-right:5px;}
p{margin:10px 0 5px;}
p.line{border-bottom:1px solid #000;height:1px;overflow:hidden;clear:both;margin:10px 0;}
table th,table td{padding:3px 5px 3px 0;vertical-align:top}
.table th,.table td{padding:3px 3px;text-align:left}
.table-border{margin:5px 0 10px;}
.table-border th,.table-border td{border:1px solid #000;padding:3px 5px;}
.table-border th{/*font-family:"Microsoft YaHei";*/font-weight:normal}
.table-full{width:100%;}

td.label{text-align:right;padding-right:0;}
.B{font-weight:bold}
.logo{float:left;}
.send-time{float:right;padding-top: 10px;}
.send-time .block{ font-size:12px;padding-top:5px;}
.send-time .block{ font-size:12px;padding-top:5px;}
#header{padding:5px 5px 10px;}
#header h1{font-family:"Microsoft YaHei";font-family: SimSun;font-size:32px;font-weight:bold;padding:8px 0 0 250px;}
.box{padding:0 5px;margin:5px 0 10px 0;}
.box p{margin:5px 0 7px;line-height:18px;}.mt5{margin-top:5px;}._mt10{margin-top:-10px;}._mt{margin-top:-10px;}
.pt10{padding-top:10px;}.pb10{padding-bottom:10px;}.pb20{padding-bottom:20px;}
.w80{width:80%;}.w60{width:60%;}

.tickets .table-border th,.tickets .table-border td{ vertical-align:middle}
.tickets .table-border th{text-align:left;font-weight:bold}

