
h3{font-size:14px;}h4{font-size:12px}
a{color:#06c}a:hover{color:#D38}.view_more i{color:#08c;font-size:11px;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
.w1{width:20px}.w2{width:40px}.w3{width:60px}.w4{width:80px}.w5{width:100px}.w6{width:120px}.w7{width:140px}.w8{width:160px}.w9{width:180px}.w10{width:200px}
.w11{width:220px}.w12{width:240px}.w13{width:260px}.w14{width:280px}.w15{width:300px}.w16{width:320px}.w17{width:350px}.w18{width:360px}.w19{width:380px}.w20{width:400px}
.w100{ width:98%;}
/*
.w1{width:10px}.w2{width:20px}.w3{width:30px}.w4{width:40px}.w5{width:50px}.w6{width:60px}.w7{width:70px}.w8{width:80px}.w9{width:90px}.w10{width:100px}
.w11{width:110px}.w12{width:120px}.w13{width:130px}.w14{width:140px}.w15{width:150px}.w16{width:160px}.w17{width:170px}.w08{width:180px}.w09{width:190px}.w20{width:200px}
.w21{width:210px}.w22{width:220px}.w23{width:230px}.w24{width:240px}.w25{width:250px}.w26{width:260px}.w27{width:270px}.w28{width:280px}.w29{width:290px}.w30{width:300px}
.w31{width:310px}.w32{width:320px}.w33{width:330px}.w34{width:340px}.w35{width:350px}.w36{width:360px}.w37{width:370px}.w38{width:380px}.w39{width:390px}.w40{width:400px}
.w41{width:410px}.w42{width:420px}.w43{width:430px}.w44{width:440px}.w45{width:450px}.w46{width:460px}.w47{width:470px}.w48{width:480px}.w49{width:490px}.w50{width:500px}
.w100{ width:98%;}
*/
.req{color:#f00; font-style:normal}
.gray{color:gray;}
/* 居中对齐 */
.center-box{display:block;text-align:center;}
.center-item{display:inline-block;*display:inline;*zoom:1;vertical-align:top;}
/* ------------------------------------------------------------
  Pro name:Panel-content;
------------------------------------------------------------ */
.iframeMain{}
.iframe-content{ padding:20px 20px 20px;}
.p_box{ margin-bottom:20px;}
.box_info dfn{color:#333}
.box_content{ margin-bottom:10x}
.ui_title,.ui_tab{height:30px; line-height:30px; overflow:hidden;box-shadow: 0 10px 10px #fff;}

.ui_tab{ background:#3f4757;  position:fixed; width:100%; z-index:50}
.ui_tab{}
.ui_tab li { background:#212121; float:left; display:inline; margin-right:5px;}
.ui_tab li.active{ background:#fff;}
.ui_tab a{ font-weight:bold; color:#fff; display:block; padding:0 10px;min-width:50px; height:30px; line-height:30px;text-align:center;}
.ui_tab .active a{color:#000;}
.ui_tab a:hover{ text-decoration:none}
.ui_tab a span{ font-weight:normal}
.ui_tab a i{color:#fff}
.ui_tab .active i{color:#f00}

.table{border-collapse:collapse;border-spacing:0;}
.table-full{width: 100%}
.table th,.table td{ padding:5px 5px;text-align: left;}
.p_table{ width:100%;border-collapse:collapse;border-spacing:0}
.p_table th,.p_table td{ border:1px solid #ccc; padding:5px 10px;text-align: left;}
.table-center th,.table-center td{text-align:center;}
.p_table th{ background:#697795;color:#fff;}
td.label,td.p_label{ text-align:right; padding-right:5px;}
td.label{ padding-right:0;}
td.p_label{background:#e2eaf4}
/*.p_table tbody:nth-child(odd) td {*/
.stuff_box tbody:nth-child(even) td {
  background-color: #f9f9f9;
}
.add-stuff-info{display:none}
.J_additem_info{display: none;}

.title,.p_title{overflow:hidden; padding:5px 0;}
.p_title{background:#697795;padding:5px 10px;color:#fff}
.p_table th{ border-color:#596682}
.p_table th h4,.p_title h4{ float:left; color:#fff;}
.p_table th p{ float:right}
.p-textarea{ width:96%; min-height:80px; padding:5px 5px; line-height:20px; overflow:visible}
.p_table tr.selected td{ background:#d8effb}
td. oper{color:#ccc}

.p_line{ background:#e2eaf4; padding:5px 20px 0 30px;}
/* 弹窗 */
.p_modal{ min-width:300px; border:1px solid #ccc; padding-bottom:20px; margin-bottom:10px;
	position: fixed;
	position: absolute;
	top: 15%;
	left: 50%;
	z-index: 1050;
	margin-left: -220px;
	background-color: #ffffff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	*border: 1px solid #999;
	-webkit-border-radius: 6px;
	 -moz-border-radius: 6px;
		  border-radius: 6px;
	outline: none;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	 -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
		  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	 -moz-background-clip: padding-box;
		  background-clip: padding-box;
	display:none;
}
.p_modal .p_title{margin-bottom:10px;}
.p_title .close{color:#fff; font-weight:normal}
.p_title .close:hover{opacity: 1.0;filter: alpha(opacity=100);}
.box_content{padding:0 20px;min-width:240px;max-height:500px; overflow:auto}
.p_modal_big{ width:750px; margin-left:-380px;top:6%;}
.p_modal_big td{padding:3px 5px;}
td.status-yes{color:green}
td.status-no,p.remark{color:red}
.oper,.oper .gray{color:gray}
p.lead{margin-bottom: 10px; text-align: left; padding:0 10px 0 15px;}

textarea.disabled{ background:#fff;color:red; height:auto;border:none; box-shadow:none;resize:none;}





/* xh弹窗 */
.xh_overlay,.xh_dialog{display:none}
.xh_overlay{ background:#000;filter:alpha(opacity=20); opacity:.2; width:100%; height:100%; position:absolute; overflow:hidden; left:0;top:0; z-index:2000; }
iframe.xh_overlay{ display:none;}
.xh_dialog{ position:fixed;_position:absolute; left:50%;top:220px; width:294px; height:130px; overflow:hidden; padding:3px; margin-left:-150px;z-index:2005}
.xh_dialog-bg{ position: absolute; left:0; top:0; width:100%;  height:150px; background:#000;filter:alpha(opacity=20); opacity:.2;}
.xh_dialog-box{width:252px;_width:246px; height:84px; padding:20px 20px 24px; overflow:hidden; background:#fff; border:1px solid #808080; position: absolute;left:3px; top:3px;}
.xh_btn-ok,.xh_btn-cancel{width:65px; height:27px; line-height:27px; text-align:center; font-weight:bold; padding:0; overflow:hidden; display:inline-block; zoom:1;*display:inline; margin-right:20px; cursor:pointer}
.xh_btn-ok:hover,.xh_btn-cancel:hover{ text-decoration:none;}
.xh_btn-ok{ background-position:0 -332px;color:#fff;}a.xh_btn-ok:hover{color:#fff}
.xh_btn-cancel{ background-position:0 -359px;color:#444}a.xh_btn-cancel:hover{color:#444}
.xh_dialog-box h4{ margin-bottom:10px;}
.xh_dialog-box p{ margin:10px 0;color:#555}
span.close-this{float: right; display: inline; width: 22px; height: 18px; font:16px/18px Tahoma; border: 1px solid #ccc; background: #fff;color:#999;margin-top:-13px; margin-right: -13px; cursor: pointer; text-align: center;}
span.close-this:hover{color:#333;border-color:#999;}
