
.datatable {/*width:670px;*/font-size:12px;border:1px solid #A4BED4;}
.datatable th {height:30px;font-weight:100;background:#FAFAFA url(datagrid_header_bg.gif) repeat-x left bottom}
.datatable th,.datatable td {padding:2px;border-right:1px dotted #ccc;border-bottom:1px dotted #ccc;}
.datatable td.firsttd {text-align:center;background:#FAFAFA url(datagrid_header_bg.gif) repeat-x left bottom}
.datatable td.lasttd {text-align:center;color:#f00;border-right:none;}
.datatable .select-bgcolor {background-color:#FBEC88;}
.datatable .current-bgcolor {background-color:#D0E5F5;}
.other-bgcolor {background-color:#EEEEFF;}


.laytable {/*width:670px;*/font-size:12px;border:1px solid #A4BED4;}
.laytable th {height:30px;font-weight:100;background:#FAFAFA url(datagrid_header_bg.gif) repeat-x left bottom}
.laytable th,.laytable td {padding:2px;border-right:1px dotted #ccc;border-bottom:1px dotted #ccc;}
.laytable td.firsttd {text-align:center;background:#FAFAFA url(datagrid_header_bg.gif) repeat-x left bottom}
.laytable td.lasttd {text-align:center;color:#f00;border-right:none;}
.laytable .select-bgcolor {background-color:#FBEC88;}
.laytable .current-bgcolor {background-color:#D0E5F5;}
.other-bgcolor {background-color:#EEEEFF;}

body{
margin:0 0 0 0;
padding:0 0 0 0;
}