
/*My Points Style*/

h2.mpTitle {background: url("../../images/myPoints/myPointsTitleBg.gif") no-repeat scroll 10px 20px transparent;}
.areaMyPoints	{ padding-top: 20px;}
.areaMyPoints h4	{ line-height: 35px; font-weight: bold; color: #000;}
.areaMyPoints p	{ color: #000; line-height: 21px;}
.areaMyPoints strong	{ font-weight: bold; color: #f30;}
.areaMyPoints .mpTable	{ border-top: 1px solid #333; border-left: 1px solid #333;}
.areaMyPoints .mpTable td	{ border-bottom: 1px solid #333; border-right: 1px solid #333;}
.areaMyPoints ol	{ padding-left: 20px; color: #000;}
.areaMyPoints ol li	{ line-height: 21px;}
.areaMyPoints dt	{ position: relative; padding: 10px 0px 10px 0px; height: 150px; margin-bottom: 10px; border-bottom: 1px dashed #e0e0e0;}
.areaMyPoints dt .myNote	{ position: absolute; top: 10px; right: 10px; width: 299px; height: 130px; background: url("../../images/myPoints/whatsPointsBg.gif") no-repeat;}
.areaMyPoints dt .myNote h3	{ padding: 10px 0px 0px 0px; color: #000; font-weight: bold; text-align: center;}
.areaMyPoints dt .myNote .myNoteCon	{ margin: 8px; height: 89px; overflow-y: scroll;}
.areaMyPoints dd	{ position: relative;}
.areaMyPoints dd .mpSelect	{ position: absolute; top: 0px; right: 0px;}
.areaMyPoints table	{ width: 100%; border-top: 1px solid #dadada; border-left: 1px solid #dadada;}
.areaMyPoints table td, .areaMyPoints table th	{ border-bottom: 1px solid #dadada; border-right: 1px solid #dadada;}
.areaMyPoints table thead th	{ padding: 5px; font-size: 12px; font-weight: bold; color: #000; background: #f1f1f1;}
.areaMyPoints table tbody td	{ padding: 5px; font-size: 12px; color: #000;}

.areaMyPointDetails{padding-top:0;}
.areaMyPointDetails table{border:1px solid #dadada;}
.areaMyPointDetails table td,.areaMyPointDetails table th{border:none;font-size:12px;}		