<!-- 公共头部  -->
<div class="hh_shortcut_box">
  <div class="hh_shortcut clearfix">
	<ul class="hh_shortcut_nav clearfix">
		<li class="hh_link">
			<a href="http://www.lvmama.com/myspace/index.do" class="hh_mylvmama" rel="nofollow">我的驴妈妈<i class="hh_icon_triangleB"></i></a>
			<div class="hh_lvmama_sub">
				<a href="http://www.lvmama.com/myspace/order.do" rel="nofollow">我的订单</a>
				<a href="http://www.lvmama.com/myspace/account/points.do" rel="nofollow">我的积分</a>
				<a href="http://www.lvmama.com/myspace/account/coupon.do" rel="nofollow">我的优惠券</a>
			</div>
		</li>
		<li class="hh_link">
			<a href="http://login.lvmama.com/nsso/onlineApplyMemberCard/index.do" class="hh_mylvmama" rel="nofollow" target="_blank">会员卡<i class="hh_icon_triangleB"></i></a>
			<div class="hh_lvmama_sub">
				<a href="http://login.lvmama.com/nsso/onlineApplyMemberCard/index.do" rel="nofollow" target="_blank">申请会员卡</a>
				<a href="http://www.lvmama.com/login/loginBindCard.do" rel="nofollow" target="_blank">激活会员卡</a>
				<a href="http://www.lvmama.com/stored/goStoredSearch.do" rel="nofollow" target="_blank">旅游卡</a>
			</div>
		</li>
		<li><a href="http://www.lvmama.com/points" rel="nofollow">积分商城</a></li>
		<li><a href="http://www.lvmama.com/public/help" rel="nofollow">帮助</a></li>
		<li class="hh_link join_weixin"><a class="hh_mylvmama" href="javascript:void(0);" rel="nofollow"><i class="icon-weixin"></i>+微信</a>
			<div class="hh_lvmama_sub" style="text-align:center;">
				<img src="http://pic.lvmama.com/img/v3/weixin.png" width="80" height="80">
			</div>
		</li>
		<li><a href="http://e.weibo.com/lvmamas" rel="nofollow"><i class="icon-weibo"></i>+微博</a></li>
		<li class="sitemap"><a href="http://www.lvmama.com/public/site_map">网站地图</a></li>
		<li class="hh_icon_phone"><a href="http://www.lvmama.com/others/lp/index.html" rel="nofollow" target="_blank">手机版</a></li>
	</ul>
	<span class="hh_loginSpanArea" id="hh_loginSpanArea"></span>
  </div>
</div>
<!--shortcut end-->

<div class="hh_header clearfix">
	<span class="hh_hotline">1010-6060</span>
	<a class="hh_logo" href="http://www.lvmama.com/">驴妈妈旅游网:中国自助游领军品牌</a>
	<div class="hh_adPro"></div>
</div> <!--header end-->

<div id="pnav" class="pnav clearfix">
    <div class="wrap">
        <ul class="pnav-main">
            <li id="home"><a href="http://www.lvmama.com">首页</a></li>
            <li id="ticket"><a href="http://www.lvmama.com/ticket">景点门票</a></li>
            <li id="freetour"><a href="http://www.lvmama.com/freetour">周边自由行</a></li>
            <li id="around"><a href="http://www.lvmama.com/around">周边跟团游</a></li>
            <li id="destroute"><a href="http://www.lvmama.com/destroute">国内游</a></li>
            <li id="abroad"><a href="http://www.lvmama.com/abroad">出境游</a></li>
            <li id="tuangou"><a href="http://www.lvmama.com/tuangou" rel="nofollow">团购</a></li>
            <li id="hotel"><a href="http://www.lvmama.com/search/hotel.html" rel="nofollow">度假酒店</a><i class="xh_new1"></i></li>
            <li id="globalhotel"><a href="http://hotel.lvmama.com" rel="nofollow">海外酒店</a></li>
            <li id="flight"><a href="http://flight.lvmama.com">国际机票</a></li>
            <li id="train"><a href="http://www.lvmama.com/train">火车票</a><i class="xh_new1"></i></li>
            <li id="custom"><a href="http://www.lvmama.com/company" rel="nofollow">定制游</a></li>
        </ul>
        <ul class="pnav-small">
            <li id="lvcomment"><a href="http://www.lvmama.com/comment" rel="nofollow">点评</a></li>
            <li id="lvguide"><a href="http://www.lvmama.com/guide">攻略</a></li>
            <li id="lvplace"><a target="_blank" href="http://www.lvmama.com/zt/s/"><span>专题</span></a></li>
            <li id="lvinfo"><a href="http://www.lvmama.com/info">资讯</a></li>
            <li id="lvbbs"><a href="http://bbs.lvmama.com" rel="nofollow">社区</a></li>
        </ul>
    </div>
</div> <!-- // div header -->
<!-- 公共头部结束  -->
