<!-- 公共头部开始  -->
<!-- topbar\\ -->
<div class="lv-topbar">
    <div class="tapbar-inner wrap">
        <ul class="top-link">
            <li class="dropdown"><a class="lvlink" href="http://www.lvmama.com/myspace/index.do" rel="nofollow">我的驴妈妈 <i class="icon-barr"></i></a>
                <div class="top-sub">
                    <a href="http://www.lvmama.com/myspace/order.do" rel="nofollow">我的订单</a>
                    <a href="http://www.lvmama.com/myspace/account/points.do" rel="nofollow">我的积分</a>
                    <a href="http://www.lvmama.com/myspace/account/coupon.do" rel="nofollow">我的优惠券</a>
                    <a href="http://www.lvmama.com/login/loginBindCard.do" rel="nofollow" target="_blank">我的会员卡</a>
                    <a href="http://www.lvmama.com/stored/goStoredSearch.do" rel="nofollow" target="_blank">我的礼品卡</a>
                </div>
            </li>
            <!--<li><a class="lvlink" href="http://login.lvmama.com/nsso/onlineApplyMemberCard/index.do" rel="nofollow">申请会员卡</a></li>-->
            <li><a class="lvlink" href="http://www.lvmama.com/points" rel="nofollow">积分商城</a></li>
            <li><a class="lvlink" href="http://www.lvmama.com/tuangouyuyue" rel="nofollow"><i class="icon-quan"></i>团购预约</a></li>
            <li><a class="lvlink" href="http://www.lvmama.com/public/help" rel="nofollow">帮助</a></li>
            <li class="dropdown join-weixin"><a class="lvlink" href="javascript:void(0);" rel="nofollow"><i class="icon-weixin"></i>+微信</a>
                <div class="top-sub"><span class="wechatcode"></span></div>
            </li>
            
            <li class="sitemap"><a class="lvlink" target="_self" href="javascript:bookmark()" rel="nofollow">收藏本站</a></li>
            <li><a class="lvlink" onclick="_gaq.push(['_trackEvent', 'weibo', 'click', 'weiboshouye', 5]);" href="http://e.weibo.com/lvmamas" rel="nofollow"><i class="icon-weibo"></i>+微博</a></li>
            <li class="sitemap"><a href="http://www.lvmama.com/public/site_map">网站地图</a></li>
            <li class="site-mobile"><a class="lvlink" href="http://shouji.lvmama.com/" rel="nofollow" target="_blank"><i class="icon-mobile"></i>手机版</a></li>
        </ul>
        <span id="J_login" class="lv-login"></span>
    </div>
</div> <!-- //.topbar -->

<div class="lv-header">
    <div class="header-inner wrap">
        <span id="hotline" class="lv-hotline">1010-6060</span>
        <a class="lv-logo" href="http://www.lvmama.com/">旅游网</a>
        <div id="adPro" data-type="ad" class="lv-adPro"></div>
    </div>
</div> <!-- //.lv-header -->

<div id="pnav" class="pnav clearfix">
    <div class="wrap">
        <ul class="pnav-main">
            <li id="home"><a href="http://www.lvmama.com" rel="nofollow">首页</a></li>
            <li id="ticket"><a href="http://www.lvmama.com/ticket">景点门票</a></li>
            <li id="freetour"><a href="http://www.lvmama.com/freetour">周边游</a></li>
            <li id="destroute"><a href="http://www.lvmama.com/destroute">国内游</a></li>
            <li id="abroad"><a href="http://www.lvmama.com/abroad">出境游</a></li>
            <li id="liner"><a href="http://www.lvmama.com/youlun/">邮轮</a><i class="icon-rm"></i></li>
            <li id="hotel">
            	<a href="http://hotels.lvmama.com/hotel" rel="nofollow">酒店</a><i class="icon-pnavHotel"></i>
            </li>
            <li id="holiday"><a href="http://www.lvmama.com/search/hotel.html">度假酒店</a></li>
            <!--<li id="globalhotel"><a href="http://hotel.lvmama.com" rel="nofollow">海外酒店</a></li>-->
            <li id="train"><a href="http://www.lvmama.com/train" rel="nofollow">火车票</a></li>
            <li id="flight"><a href="http://flight.lvmama.com" rel="nofollow">国际机票</a></li>
            <li id="custom"><a href="http://www.lvmama.com/company" rel="nofollow">定制游</a></li>
            <li id="tuangou"><a href="http://www.lvmama.com/tuangou" title="团购">特卖会</a><i class="icon-tg"></i></li>
        </ul>
        <ul class="pnav-small">
            <li id="lvcomment"><a href="http://www.lvmama.com/comment" rel="nofollow">点评</a></li>
            <li id="lvguide"><a href="http://www.lvmama.com/guide">攻略</a></li>
            <li id="lvplace"><a target="_blank" href="http://www.lvmama.com/zt/s/"><span>专题</span></a></li>
            <li id="lvinfo"><a href="http://www.lvmama.com/info">资讯</a></li>
            <li id="lvbbs"><a href="http://bbs.lvmama.com" rel="nofollow">社区</a></li>
        </ul>
    </div>
</div> <!-- //div.pnav -->
<!-- 公共头部结束  -->
