@charset "utf-8";
/* CSS Document */

.left{
	float:left;
}
.right{
	float:left;
	margin-left:20px;
}
.clear{
	clear:both;
}
#selDate{
	width:120px;
	height:220px;
	margin-bottom:10px;
}
#btnDel{
	font-size:14px; 
	font-weight:bold;
	 border:1px solid black; 
	 padding:0px 5px;
	 width:20px;
	 cursor:pointer;
}
.calSelected{
	background: none repeat scroll 0 0 #FF77BB;
	box-shadow: 2px 2px 10px -7px #666666 inset;
	color: #FFFFFF;
}
