@charset "utf-8";
/* CSS Document */
#mess_box { background:#fff; font-size:12px; width:400px; padding:10px 15px; font-family:"新宋体", "宋体", "黑体"; }
#mess_box p { margin:0; padding:0; line-height:30px; color:#000; font-size:12px; }
#mess_box p strong { font-weight:bold; font-size:14px; }
#mess_title { font-size:14px; font-weight:bold; line-height:24px; }
#mess_box a:link { font-size:12px; color:#0000ff; font-weight:normal; text-decoration:underline; }
#mess_box a:visited { font-size:12px; color:#0000ff; font-weight:normal; text-decoration:underline; }
#mess_box a:hover { font-size:12px; color:#0000ff; font-weight:normal; text-decoration:underline; }
#mess_box a:active { font-size:12px; color:#0000ff; font-weight:normal; text-decoration:underline; }
#mess_detail { overflow:hidden; zoom:1; background:#fff7c2; }
#mess_detail img { float:left;  margin:0 10px 0 0; border:1px #000 solid; }
#mess_detail p { float:left;  line-height:22px; padding:10px 0 0 0;  }
#mess_que { padding:5px 0 0 0; }
#mess_que a { margin:0 10px 0 0; }
