@charset "utf-8";
/* CSS Document */


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,select,textarea,p,blockquote,th,td,hr,button,figure,menu{margin:0;padding:0;}
body{font:12px/22px Tahoma,Arial,\5b8b\4f53,sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
ol,ul{list-style:none;}
a img{border:none; vertical-align:top;}
input,button{ font-family:Tahoma,Verdana,Geneva,sans-serif}
a{ text-decoration:none;}a:hover{ text-decoration: underline;}
i{ font-style:normal;}
body{}
.yusuan_box{margin:20px auto;}
.yusuan_box h2{ padding:20px 0; text-align:center; height:24px; line-height:24px; font-size:24px;}
.yusuan_tab{ width:100%; color:#666;}
.yusuan_tab label input,.jiesuan_tab label input{ vertical-align:middle; margin:0 5px 0 10px;}
.yusuan_tab th,.yusuan_tab td{ border:#666 solid 1px; padding:3px 0; height:30px; line-height:30px;}
.yusuan_tab th{ border-top:none; padding:0 5px; color:#333;}
.yusuan_tab td{ padding:0 5px;}
.text_bold{ font-weight:bold; text-align:center; color:#333;}
.text_d{ border:none; border-bottom:#666 solid 1px; color:#666;}
.l_title{ font-size:20px;}


.jiesuan_tab{ width:100%; color:#666;}
.jiesuan_tab td{ padding:3px 5px; border:#666 solid 1px; height:30px; line-height:20px;}
.jiesuan_tab .text_bold{ text-align:right; width:10%;}
.jiesuan_tab td.text_c{ text-align:center; font-weight:bold; color:#333;}
.text_n{ border:none; text-align:center; width:90%; height:22px; line-height:22px; color:#666;}

.jiesuan_tab2{ margin-top:20px; width:100%; color:#666;}
.jiesuan_tab2 td{ height:30px; line-height:20px;}
.jiesuan_tab2 input{ height:22px; line-height:22px; width:70%;}
.jiesuan_tab2 td.text_c{ text-align:right; font-weight:bold; color:#333;}
@media print{.noprint{display:none}}















