*{margin:0;padding:0;font-size:12px;font-family:����;}
a:link{color:#15428B;text-decoration:none;}
a:visited{color:#15428B;}
a:hover,a:active{color:#669;text-decoration:underline;}
li{list-style:none;}
em,i{font-style:normal;}
.main{width:1100px;border:1px solid #BAD9FA;margin:10px;padding-bottom:15px;background:#BAD9FA;  border-radius:5px; }	
.newTit{height:45px;line-height:45px;text-indent:20px;font-weight:700;font-size:14px;}
.newNav{overflow:hidden;zoom:1;font-size:12px;background:#e4edfe;}
.newNav li{float:left;height:30px;line-height:30px; font-weight:bold; font-size:14px;border-right:1px solid #fff;}
.newNav li a{color:#000;text-decoration:none;padding:0 18px;}
.newNav .newCurrent a,.newNav li a:hover{color:#fff;background:#839ed0;display:block;}
.newTable{border-left:1px solid #BAD9FA;border-top:1px solid #BAD9FA;margin:0 auto;background:#fff;font-size:12px; color:#555; width: 98%;border-collapse:collapse;}
.newTable td,.newTable th{border-right:1px solid #BAD9FA;font-size:12px;border-bottom:1px solid #BAD9FA;padding:9px 3px;width:auto; height:auto;}
.newTable td span{margin:0 3px;font-size:12px;}
.tableText01 {color:#FF0000;}
.tableText02 {color:#A32929;}
.tableText03 {color:#008000;}
.tableText04 {color:#0000FF;}
.tableText05 {color:#9370DB;}
.tableText06 {color:#FF6EC7;}
.newTable td .price1{color:#FF0000;}
.newTable td .price2{color:#A32929;}
.newTable td .price3{color:#008000;}
.newTable td .price4{color:#0000FF;}
.newtext1,.text1,.searchInput{padding:3px;border:1px solid #A1C5E6; background:#fff;}
.text1{background:#fff;width:128px;}
select.text1{height:24px;line-height:24px;}
.newradio{margin:0 3px;}
.newInput{font-size:12px;width:auto;}
.newInputY{width:auto;}
.newInputY td{width:200px;}
.newInput td{padding:3px;}
.newInput td em{font-style:normal;float:right;}
.newInput td select{width:136px; height:24px; padding-top:3px; border:1px solid #7F9DB9; background:#fff;}

.tit{overflow:hidden;zoom:1;background:#d1efff;height:24px;line-height:24px;font-size:12px;padding:0 20px;}
.tit a{float:right;}
.ticketDl{line-height:30px;font-size:12px;padding:10px 20px;}
.ticketDl dd{text-indent:30px;}
.ticketDl dd a{color:#15428B;}
.newTable td a,.newTableB td a{margin:0 3px;}
.newTableB{margin:18px 0;padding:9px 20px;font-size:12px;margin:0 10px; width: 100%}
.newTableB td{height:30px; padding:2px;}
.newTableB em{font-stlye:;float:right; font-weight: 700}

.textTime { overflow: hidden; zoom: 1; padding: 0 13px 5px;text-align: center; font-size: 18px; font-weight: 700}
.titBotton,.button,.button01{background:url(../images/bg.gif) repeat-x -101px 0px;height:27px;line-height:22px;width:95px;cursor:pointer;color:#fff;text-align:center;text-indent:0;font-size:13px;font-family:Microsoft YaHei;}
.prevMonth { float: left;}
.button01{border:none;}
.nextMonth { float: right;} 
.button{display:block;border:none;}

.row2 dl{padding:10px;line-height:30px;}
.row2 dl dt{height:30px;}
.row2 dl dd textarea{height:120px;width:300px;}
.row2 label { margin: 0 10px;}
.proLabel{border-bottom:1px solid #BAD9FA;border-right:1px solid #BAD9FA;background:#fff;margin:5px 0;}
.proLabel b{float:right;}
.proLabel td{height:30px;border-left:1px solid #BAD9FA;border-top:1px solid #BAD9FA;padding:3px;}
.new{line-height:30px;padding:0 20px}
.dragDiv2{background:#fff !important;}
.newTab{padding:0 20px;}
.newTab p{height:30px;line-height:30px;}

/*add by pmf 2012-02-08*/
label{padding-left:3px;}
textarea {margin:5px 0;padding:5px;border:1px solid #A1C5E6; background:#fff; color:#777; line-height:20px;}
td.optw{width:170px;}
td.timew{width:80px;}
td.statew{width:40px;}
td.idw{width:70px;}
td.prodw{wdith:120px;}
.row1 form{ background:#f9f9f9; padding:9px; margin:5px 27px 5px 20px;}
.newTit a{padding:5px 13px; margin-left:36px; line-height:24px; border:1px solid #ccc; border-radius:5px; background:#E0ECFF; font-weight:normal;}
.newTit a:link{color:#333}
.newTit a:hover{ text-decoration:none;}
.newTable td a:link{color:#15428B;}
.newTableTit td,.newTableTit th{background:#e5eeff; color:#15428B;line-height:20px;font-size:14px; font-weight:bold; font-family:"΢���ź�", "����", "����";}
.main4Bottom .button{margin:10px 400px;}
.row2 .titBotton{width:60%; padding:0 9px; margin-left:10px; text-align:left; color:#15428B; background:none; border-bottom:1px dotted #ccc;}
.row2 p{padding:9px 18px;}
td .text1{margin-right:18px;}
td i{margin-left:-18px;}
.searchInput{width:128px!important; background:url(../images/search.gif) no-repeat right center;}
.page_div{padding:9px; text-align:center;}
.page_div span{margin:0 18px;}
.newTable tr:hover{ background:#edf4fe;}
.row2{padding:5px 0; background:#fff;}
/*add by pmf 2012-02-08*/


.dome_title{ float:left; height:25px; margin:0px 10px;}
.select_list{ float:left;height:25px;}
.xu_buttom{ margin-left:10px; float:left}
.chuangzhen{margin-left:20px;}

.new li .add_title{width:160px; display:block;text-align:right; float:left;}
.add_but{ float:left;margin-left:90px; display:inline; margin-top:10px;}
.title_list{float:left;}
.title_list01{ display:block; width:30px; height:20px; text-align:center; padding-top:5px;}
.add_place_list{ margin:3px 10px 0px 0px;}
.title_list02{margin-top:2px; margin-right:5px;}
.new li{    overflow: hidden;zoom:1}
.add_margin_left{margin-left:10px;}
.add_margin_left01{margin-left:20px;}
.table_list{ width:1102px;border-right:1px solid #BAD9FA;border-bottom:1px solid #BAD9FA;}
.input_style{ width:800px; height:20px; border:1px solid #000; padding:2px; padding-top:5px;}
.table_list td{border-left:1px solid #BAD9FA;border-top:1px solid #BAD9FA; height:30px;}
.rooter_nums{  display: block;float: left;text-align: center;width: 110px;}
.new_price{padding:0 15px;}
.new_price dd{margin:10px 0;}
.new_price b,.textTime b{width:105px;text-align:right;display:inline-block}
span.require{color:red;font-weight:bold}

/*add*/
.pro_add{}
.pro_type_td{ line-height:22px; vertical-align:middle; color:#666;}
.pro_type_td input{margin-left:9px;}
.pro_protab th,.pro_protab td{ text-align:center;}
.opt_td .opt_txt{cursor:pointer; color:#15428B;}
.pro_pop,.pro_pop1{display:none;position:absolute; z-index:9999; left:40%; top:40%; width:450px; height:auto; padding:9px;background:#fff; border:1px solid #ccc;}
.pro_pop td{padding:4px;}
.pro_pop_cont h3,.pro_tit{font:bold 14px/30px "����";}
.pro_close{position:absolute;  z-index:9; top:9px; right:9; width:15px; height:15px; text-align:center; font:bold 18px/14px "verdana"; background:#fefefe;  border:1px solid #15428B; color:#15428B; cursor:pointer;}
.pro_pop_tab1{padding:13px 0 0; margin-top:13px; border-top:1px solid #ddd;}
.pro_pop_tab .newtext1{width:300px;}
.pro_pop1{ width:210px; padding-top:18px;text-align:center;}
.pro_pop_btntab{margin:18px 0;}
.pro_pop_btntab td{padding:9px;}
.opt_btn{padding:2px 7px;border:1px solid #666; color:#666; background:#f1f1f1;cursor:pointer;}
.txt_grey{color:#999;}

.row3{padding:18px;}
.row2_tab{padding:9px; background:#fff;}
.row2_tab td{padding:2px 5px;}
.pro_probox{padding:2px; margin:2px 0; border:1px solid #ddd; background:#fff;}
.pro_propdiv{padding:9px; background:#fff;}
.link_sel_out{position:relative; zoom:1;}
.link_sel_out input{color:#999}
.like_select{display:none;position:absolute; z-index:9; left:0; top:20px; width:auto; height:180px; padding:4px 27px 4px 4px; overflow-y:scroll;background:#fff; border:1px solid #ccc; line-height:22px;}
.like_select li{ cursor:pointer; border-bottom:1px dotted #eee;}
.pro_del{margin-left:9px;}
.txt_hint{color:#F30;}
.like_select_crt{background:#ccc;}
.row2 .proLabel label{margin-left:0;}
.add_tap_list,.add_tap_list li{ overflow:hidden; zoom:1;}
.row_ul{ background:#f9f9f9; padding:9px; margin: 0px 27px 5px 10px;}
.left_bt_add,.left_bt,.seach_bt01,.closed_jiesuan{ background:url(../img/sprit_bt.gif) no-repeat 0px -115px; height:27px; border:none; line-height:27px; width:62px; color:#fff; cursor:pointer; float:left; margin-left:15px; display:inline}
