<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">
	<!-- 文件系统 -->
	<bean id="fsClient" class="com.lvmama.comm.pet.client.FSClient" />
	<bean id="emailClient" class="com.lvmama.comm.pet.client.EmailClient">
		<property name="destination" ref="EMAIL_TOPIC_V" />
	</bean>
	
</beans>