@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre, 
form,fieldset,input,textarea,p,blockquote,th,td,img { padding: 0; margin: 0; } 
/*table { border-collapse: collapse; border-spacing: 0; }*/
fieldset,img { border: 0; } 
ol,ul { list-style: none; }
em {font-style:normal;}
a{color:#003dee;text-decoration:none;}
a:hover{color:#ba2636;text-decoration:underline;}
body{font-size:12px;font-family:Arial,simsun;color:#666;}
html,body {_height:100%;_width:100%;}
body {color:#771364;}
.header {height:438px;background:url(http://login.lvmama.com/nsso/images/bg.gif);}
.topAll {width:1003px;margin:0 auto;}
.cont {background:url(http://login.lvmama.com/nsso/images/bg-bot.gif) repeat-x;overflow:hidden;}
.content {width:1003px;height:351px;margin:0 auto;background:url(http://login.lvmama.com/nsso/images/content.jpg) no-repeat;position:relative;}
.left-cont {width:394px;height:290px;position:absolute;left:92px;top:40px;}
.right-cont {width:320px;height:230px;position:absolute;right:165px;_right:115px;top:100px;}
.left-title {width:90px;text-align:right;display:block;float:left;}
.content p.cont-info {width:394px;height:30px;+height:32px;line-height:31px;overflow:hidden;}
.content p.cont-info2 {height:50px;}
.content p.cont-info2 a.btn-reg {display:inline;margin:8px 8px 0 0;width:105px;height:41px;float:right;}
.content p.cont-info2 a.btn-login {display:inline;margin:8px 37px 0 0;width:146px;height:50px;float:right;}
.content p.ts-info {width:320px;height:18px;line-height:16px;+line-height:18px;color:#b9309d;text-indent:110px;_text-indent:113px;overflow:hidden;visibility:visible;}
#registBtn {margin-right:40px;}
.content p.ts-info22 {width:295px;height:16px;margin-bottom:3px;line-height:14px;+line-height:16px;color:#b9309d;overflow:hidden;visibility:visible;float:right;}
.content p.ts-info2 {height:30px;line-height:28px;+line-height:30px;}
.content label {float:left;width:304px;}
.content label input {width:250px;height:25px;line-height:28px;text-indent:5px;/*background:url(http://login.lvmama.com/nsso/images/bg-input.gif) no-repeat;border:none;*/margin-left:10px;color:#571342;font-size:12px;float:left;}
.content label select {width:95px;margin-left:10px;}
.content label .iconRight {width:25px;height:25px;display:block;float:left;margin:5px;}
.content2 {width:1003px;height:385px;margin:0 auto;background:url(http://login.lvmama.com/nsso/images/bg-cont2.jpg) no-repeat;position:relative;}
.left-cont2 {position:absolute;width:380px;overflow:hidden;left:110px;top:100px;}
.right-cont2 {position:absolute;width:354px;overflow:hidden;top:90px;right:106px;}
.left-cont2 p {line-height:2;}
.duan {font-size:14px;overflow:hidden;margin-bottom:20px;}
.duan2 em {font:700 16px arial;}
.right-cont2 p {line-height:2;width:354px;margin:2px auto;}
.right-cont2 p.right-cont2-p1 {margin-bottom:5px;}
.right-cont2 p a {color:#771364;}
.shareDiv {width:354px;overflow:hidden;}
.share {width:340px;height:70px;border:1px solid #861d73;background-color:#fff;overflow-x:hidden;overflow-y:auto;color:#666;font:12px arial,simsun;}
.btnshare dt,.btnshare dd {float:left;margin-right:5px;}
.btnshare dd img {vertical-align:middle;}

.right-cont22 {width:320px;height:310px;background:url(http://login.lvmama.com/nsso/images/right-title2.jpg) no-repeat 5px 0;position:absolute;top:2px;right:123px;}
.cont-info3 {margin:60px auto 30px;font-size:14px;line-height:2.5;width:245px;}
.btn-qu {text-align:center;}

.footer {text-align:center;height:90px;background:url(http://login.lvmama.com/nsso/images/btn-bot2.jpg) no-repeat;margin:0 auto;width:1003px;}
.viewHJ {display:block;width:228px;height:60px;margin:0 auto;cursor:pointer;}
.lqsubmit {display:block;background:url(http://login.lvmama.com/nsso/images/btn-jiang.gif) no-repeat;width:123px;height:38px;margin:30px auto 0}

/*gift.html*/
.gift .zcFlow {background-position:0 0;background: url("http://pic.lvmama.com/img/member/c_login-steps_06.gif") no-repeat scroll -4px -96px transparent;}
.gift .zcFlow1{background:url("http://pic.lvmama.com/img/zuche//bInco.gif") no-repeat scroll 0 -300px transparent;}
.zcSucceed .zcFlowphone {background-position:0 0;background: url(http://login.lvmama.com/nsso/images/step1.gif) no-repeat scroll -4px 0;}
.otContent p.otContp {padding-left:0px;width:750px;margin:0 auto;color:#000;}
.otContent p.otContp em {color:#c06;font-weight:700;color:#000;}
.otContent p.otContp b {color:#f00;}
.otContent p.jiangp {}
.otContent p.jiangp .jiangpin {height:25px;line-height:22px;margin:30px 0 30px 150px }
.gift .addInfo {border:none;margin-left:146px;}
.gift .addInfo dt,.gift .addInfo dd {height:30px;margin:10px auto 0;overflow:hidden;}
.gift .addInfo dt {float:left;margin:0;line-height:48px;width:75px;text-align:right;}
.gift .addInfo dt.firstDT {height:80px;line-height:102px;}
.gift .addInfo dd {background:none;width:620px;_width:630px;height:auto;margin-right:0px;;}
.addInfored {color:#f60;display:inline-block;width:16px;text-align:center;}
.address {vertical-align:middle;width:480px;height:80px;overflow-x:hidden;overflow-y:auto;}
.gift .addInfo input {height:25px;vertical-align:middle;width:200px;}
.gift .addInfo .postNum {width:150px;color:#000;}
.gift .addInfo .postPhone2 {width:80px;}
.postTs {color:#999;}
.gift .addInfo input.tijiao {height:25px;line-height:22px;width:auto;margin:10px 0;float:left;margin-right:20px;}
.bcsucc {display:none;height:40px;width:100px;line-height:40px;border:1px solid #999;text-align:center;overflow:hidden;}
/**successPhone.html**/
.otContent dl.phone {margin:30px 0 30px 180px;}
.otContp {line-height:2;}
.zcFontSize,.zcSucceed dl label {color:#000;}


.DivZhe {position:fixed;_position:absolute;height:100%;width:100%;left:0;top:0;opacity:0.3;filter:alpha(opacity=30);background:#000;display:none;z-index:777;}
.DivZheCont {width:475px;min-height:200px;background:url(http://login.lvmama.com/nsso/images/bg-div2.gif) no-repeat;display:none;position:absolute;z-index:999;border:1px solid #999;background-color:#fff;}
.divtop {background:url(http://login.lvmama.com/nsso/images/bgdiv.gif) repeat-x;height:30px;color:#666;font:700 16px arial,simsun;line-height:30px;padding-left:5px;}
.butt-close {float:right;display:inline;width:16px;height:16px;color:#fff;background-color:#5E5838;line-height:16px;text-align:center;font-size:14px;margin:5px 5px 0 0;cursor:pointer;}
.divcont {line-height:2.5;width:435px;margin:20px auto;font-size:14px;}
.butn {text-align:center;margin-bottom:20px;}
.butn input.queding {width:80px;height:25px;line-height:22px;cursor:pointer;}

.iframe-Layer {width:624px;height:439px;position:absolute;left:0;right:0;display:none;}

/*
.left-cont li {list-style:none;height:16px;}
.left-cont li span {display:inline-block;width:320px;text-align:right;}
.left-cont li span img {float:right;margin-right:10px;}
.left-cont li span.c_Gray {margin-right:10px;display:inline-block;width:310px;}
.c_Gray font {padding-right:10px;}
*/
/*.clear {clear:both;}*/
.ztfooter {font: 12px/1.5 arial,"simsun";text-align: center;margin:10px auto;color:#666;margin-bottom:20px;}