@charset utf-8;
body{background:#f8f8f8;margin:0;padding:0;} 
li{float:left;width:100%;}
#bd {background:#E1E1E1;padding-top:50px;}
#dest-main {background:#fff; margin-top:15px;padding:10px}

/*dest-title start*/
#dest-title img{vertical-align:baseline;}
#dest-title h3{display:inline;font-size:20px;padding-left:3px;font-family:SimSun;}
.right-hint {float:right;margin-right:10px;display:inline;} 
.right-hint a {color:blue;font-size:14px;} 
.right-hint a:hover {color:blue;text-decoration:underline;} 
.right-hint a:visited {color:blue;} 
/*dest-title end*/

/*left start*/
/*left end*/

/*right start*/
#right-bar {background:#f8f8f8;}
#right-bar div.matrix{padding: 0 15px;}

div.matrix-title {margin-bottom:14px;font-weight:bold;font-size:16px;font-family:微软雅黑;}
.gloomy {background:#efefef;}
.rank-list li {height:34px;overflow:hidden;}
.rank-list li span {float:left;}
.rank-list a , .rank-list a:hover , .rank-list a:visited{color:#0c8ac9}
.rank-list .order {width:14px;height:14px;line-height:14px;text-align:center;color:#fff;margin:7px;margin-top:9px;}
.rank-list .top {background:url(../img/counter.gif) 0px 0px no-repeat;}
.rank-list .normal {background:url(../img/counter.gif) 0px -16px no-repeat;}
.rank-list .title{width:100px;max-width:160px;overflow:hidden;white-space: nowrap;height:34px;line-height:34px;}
.rank-list .full-prize{width:50px;color:#999;margin-top:8px;}
.rank-list .full-prize em{color:#999;text-decoration:line-through;}
.rank-list .prize{float:right;padding-right:6px;margin-top:8px;}

.hotel-list h3 {font-size:14px;margin-left:105px;}
.hotel-list h3 a ,.hotel-list h3 a:hover  ,.hotel-list h3 a:visited  {color:#0c8ac9;}
.hotel-list img {float:left;margin-top:-21px;}
.hotel-list .desc{color:#969696;}
.hotel-list .desc div{margin-left:105px;}
.hotel-list .desc em{color:#ff663a;}
.hotel-list .evaluation {position:relative;}
.hotel-list .evaluation span {position:absolute;top:0;right:0;}
.hotel-list .hotel-prize {margin-top:9px;height:30px;line-height:30px;vertical-align:text-bottom;}
.hotel-list .hotel-prize em {font-size:20px;font-family:微软雅黑;margin-right:4px;height:30px;line-height:30px;vertical-align:bottom;}

.hotel-list li {margin-bottom:20px;}

#airline-ticket span{height:34px;line-height:12px;margin-top:9px;}
.rank-list .line {width:77px;margin-left:8px;}
.rank-list .discount {width:40px;color:#69b93b;margin-left:5px;}
.rank-list .airdate {width:55px;}
.rank-list .airprize {width:45px;color:#ff663a;margin-left:5px;}
/*right end*/