#warp{height:100%;width:100%;position:relative;}
.tips-title span{color:#f00;padding-left:5px;font-size:12px;font-weight:500;}
.cardsPayment ul,.cardsPayment p,.cardsPayment li{overflow:hidden;zoom:1;}
.cardsPayment,.cardsDeposit{margin:10px auto 0;width:980px;border:1px solid #D2D2D2;}
.cardsPayment h3,.cardsDeposit h3,.deposith3Close{background:url(http://pic.lvmama.com/img/order/titBg.gif) repeat-x;border-bottom:1px solid #d2d2d2;height:29px;line-height:29px;position:relative;text-indent:20px;font-size:14px;color:#020202;font-weight:700;cursor:pointer;}
.h3Close em,.deposith3Close em{background:url(http://pic.lvmama.com/img/order/order_icon01.gif) no-repeat -233px -3px;display:block;height:8px;width:8px;position:absolute;top:10px;right:30px;overflow:hidden;}
.h3CloseB em,.deposith3CloseB em{background-position:-233px -11px;}
.DepositTop{margin:0 20px;display:none;color:#333;}
.DepositTop li{border-bottom:1px dashed #dedede;padding:5px;}
.DepositTop li p{margin:5px 0 10px 0;line-height:25px;}
#paymentPassword_inputTip{padding-left:106px;margin:0;color:#ff0000;}
#paymentPassword_inputTip .icon3{position:relative;top:2px;margin:0 5px;}
.DepositTop li span{color:#3366cc;cursor:pointer;}
.DepositTop li b{font-weight:700;}
.DepositTop li strong{color:#ff0000;}
.DepositTop li label{width:110px;text-align:right;display:inline-block;}
.DepositTop .showSettingButton .clickShow{background:url(../img/order_icon01.gif) no-repeat 0 0;display:inline-block;width:74px;height:27px;line-height:27px;color:#010101;text-align:center;}
.DepositTop .prompt{padding-left:110px;color:#ff0000;margin:0;}
.DepositTop .prompt .icon3{position:relative;top:3px;*top:0px;margin-right:5px;}
.DepositTop .showSettingButton {padding:0px 0 0 110px;}

.cardsPalmentText{display:none;}
.cardsPayment ul{margin:0px 20px;padding:10px 0;border-bottom:1px dashed #DEDEDE;}
.cardsPayment li{float:left;line-height:24px;}
.cardsPayment li label{width:80px;display:inline-block;text-align:right;float:left;}
.cardsPayment li span{padding-left:80px;color:#FF0000;display:none;}
.cardsPayment li input{background:url(http://pic.lvmama.com/img/order/order_icon01.gif) no-repeat left -45px;width:248px;height:18px;padding:3px;border:none;border-right:1px solid #ddd;float:left;}
.cardsPayment li input.verification{width:80px;}
.cardsPayment li img{float:left;margin:0 10px;}
.cardsPayment li .button,.newbutton,.cardsDeposit .button{width:74px;height:27px;background:url(http://pic.lvmama.com/img/order/order_icon01.gif) no-repeat left 0;display:inline-block;margin-left:80px;border:none;text-align:center;color:#000;}
.cardsDeposit .button{margin:0 5px;}
.cardsPayment p{margin:0px 25px;padding:5px 0;line-height:20px;}
.cardsPayment p strong{width:20px;font-weight:700;color:#666;display:inline-block;float:left;}
.cardsPayment p span{float:left;color:#666;}
.cardsPayment table{text-align:center;border:1px solid #ddd;margin:10px 25px;color:#666;}
.cardsPayment td{border:1px solid #ddd;height:30px;}
.cardsPayment .tableTit td{height:26px;background:#F4F4F4;font-weight:700;color:#333;}
.cardsPayment td span{margin:0 5px;}

.tips-info02{padding:30px 20px;}
.tips-info02 .price01,.tips-info02 .price02,.tips-info02 .price03{position:absolute;left:750px;color:#333;font-weight:700;font-size:14px;line-height:30px;display:inline-block;}
.tips-info02 b{font-weight:700;margin:0 3px 0 0;}
.tips-info02 .price01 b{font-size:22px;}
.tips-info02 .price01{top:5px;}

.tips-info02 .price02{top:35px;}
.tips-info02 .price03 b{font-size:28px;color:#FF5500;}
.tips-info02 .price03{top:60px;}
/*///////////////*/

html,body {_height:100%;_width:100%;}
.msgDiv{border:3px solid #c06;padding:17px;width:344px;background:#fff;font-size: 12px;left: 50%;margin-left:-190px;position: absolute;top:300px;z-index: 51;color:#000;display:none;}
.close{background:url(http://pic.lvmama.com/img/order/order_icon01.gif) no-repeat -165px -9px;display:inline-block;height:15px;width:15px;position:absolute;top:0px;right:0px;_right:10px;cursor:pointer;}
.msgNewBlock p.msgTitle{font-weight:bold;font-size:14px;border:none;border-bottom:1px solid #d8dfea;height:25px;padding:0;}
.msgNewBlock{position:relative;color#:333;}
.msgNewBlock ul{padding:20px 0;line-height:25px;text-align:center;position:relative;}
.msgDiv strong{font-weight:700;color:#333;}
.msgNewBlock p{border-top:1px solid #D8DFEA;padding:10px 0;}
.msgText s{background:url(http://pic.lvmama.com/img/order/order_icon01.gif) no-repeat -180px -2px;display:inline-block;height:25px;width:26px;position:absolute;top:20px;left:60px;_left:-110px;}
.msgText02 s{background-position:-206px -1px;}
.msgDiv01 .msgText s{left:100px;_left:-65px;}
.msgText02{font-size:14px;font-weight:700;}
.msgDiv .button{text-align:center;}
.newbutton{padding:0 10px;margin:0 10px;cursor:pointer;}
.bgDiv{filter:Alpha(opacity=40);-moz-opacity:0.4;opacity:0.4;position:absolute;width:100%; height:100%;top:0;left:0; background:#000000;z-index:50; display:none;}	
/**/
.close,.icon1,.icon2,.icon3,.icon4,.icon2B,.passwordSetting .step1,.passwordSetting .step2,.settingSuccess .step3{background:url(../img/order_icon01.gif) no-repeat;display:inline-block;}
.close{width:15px;height:15px;background-position:-165px -9px;}
.icon1{width:14px;height:14px;background-position:-151px -9px;}
.icon2{width:16px;height:16px;background-position:-121px -8px;} 
.icon3,.icon2B{width:14px;height:14px;background-position:-137px -9px;}
.icon4{width:25px;height:25px;background-position:-206px -1px;}
.passwordSetting .step1,.passwordSetting .step2,.settingSuccess .step3{width:344px;height:27px;margin-top:1px;}
.passwordSetting .step1{background-position:0 -94px;}
.passwordSetting .step2{background-position:0 -121px;}
.settingSuccess .step3{background-position:0 -148px;}

.passwordSetting,.settingSuccess{border:3px solid #c06;padding:17px;width:344px;background:#fff;font-size:12px;left: 50%;margin-left:-186px;position: absolute;top:30%;z-index: 51;color:#000;padding:10px 18px;font-family:\5b8b\4f53;display:none;}
.passwordSetting h3,.settingSuccess h3{font-weight:700;border-bottom:1px solid #D8DFEA;font-size:14px;position:relative;height:30px;line-height:30px;}
.passwordSetting .close,.settingSuccess .close{position:absolute;top:5px;right:0;cursor:pointer;}
.textPrompt{padding:10px 0;margin:0 10px;color:#666;overflow:hidden;zoom:1;}
.textPrompt s{float:left;}
.textPrompt span{display:inline-block;width:295px;color:#000;}
.textPrompt strong{font-size:12px;color:#333333;}
.textPrompt strong b{font-weight:700;}
.settingSuccess .textPrompt{line-height:25px;color:#333;font-size:14px;font-weight:700;text-align:center;padding:20px 0;}
.settingSuccess .textPrompt s{margin-right:10px;float:none;position:relative;top:5px;}
.settingPassword,.sendCheckCode{padding:10px;overflow:hidden;zoom:1;border-top:1px dashed #dedede;}
.settingPassword dt,.sendCheckCode dt{float:left;width:90px;line-height:26px;text-align:right;padding-right:5px;margin-bottom:10px;}
.sendCheckCode,.passwordNew .settingPassword{border:none;color:#010101;}
.settingPassword dd{line-height:26px;margin-bottom:10px;}
.sendCheckCode dd p input{height:26px;cursor:pointer;padding:3px 10px;*padding:3px 5px;}
.sendCheckCode dd span,.passwordNew .settingPassword span{color:#E20075;}
.settingPassword dd p,.sendCheckCode dd p{padding-left:90px;color:#ff0000;}
.settingPassword dd input,.showSetting input,.DepositTop li input{margin-right:15px;background:url(http://pic.lvmama.com/img/order/order_icon01.gif) no-repeat left -44px;padding:3px;height:19px;line-height:19px;width:152px;border:none;border-right:1px solid #ccc;}
.settingPassword dd s{position:relative;top:2px;*top:0px;margin-right:5px;}
.settingPassword dd .icon2{*top:-2px;}
.settingPassword dd .icon2B{*top:-4px;}
.passwordModify .settingPassword{border:none;}
.ClickButton{border-top:1px solid #D8DFEA;padding:10px;text-align:center;}
.ClickButton input{padding:0 10px;margin:0 5px;height:24px;line-height:22px;cursor:pointer;}	
.bgDiv{filter:Alpha(opacity=40);-moz-opacity:0.4;opacity:0.4;position:absolute;width:100%; height:100%;top:0;left:0; background:#000000;z-index:50;display:none;}



.paymentOrder{width:980px;margin:10px auto;text-align:center;border:1px solid #d2d2d2;font-size:14px;color:#666;}
.paymentOrder td{padding:1px 0;height:60px;border-right:1px solid #d2d2d2;}
.paymentOrder .paymentOrderTit td{border:none;border-bottom:1px solid #d2d2d2;height:30px;color:#333;}
.paymentOrderTit span{background:#eee;display:block;border-right:1px solid #dddddd;height:30px;line-height:30px;}

