.pc_user_center {
	BORDER-RIGHT: #a70679 1px solid; BORDER-TOP: #a70679 1px solid; Z-INDEX: 999; BACKGROUND: #fff; BORDER-LEFT: #a70679 1px solid; WIDTH: 85px; BORDER-BOTTOM: #a70679 1px solid; POSITION: absolute; TEXT-ALIGN: left
}
.pc_user_center .user_center_pic {
	BACKGROUND: url(http://pic.lvmama.com/img/user_center_pic.gif) no-repeat center 10px; FLOAT: left; WIDTH: 107px
}
.pc_user_center .user_center_pic IMG {
	MARGIN: 19px 10px 10px 18px
}
.pc_user_center .user_center_pic .user_center_name {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; COLOR: #000; PADDING-TOP: 5px; TEXT-ALIGN: center
}
.pc_user_center .pc_user_center_p {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 24px; PADDING-TOP: 5px
}
.pc_user_center .pc_user_center_p STRONG {
	FONT-WEIGHT: bold; COLOR: #a70679
}
.pc_login-top {
	PADDING-RIGHT: 21px; PADDING-LEFT: 0px; BACKGROUND: url(http://pic.lvmama.com/img/bbs_new.gif) no-repeat right top; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; TEXT-ALIGN: right
}
.pc_login-top A {
	TEXT-DECORATION: none
}
.pc_login-top A:hover {
	TEXT-DECORATION: underline
}
.index-toplink .pc_login-top SPAN A:link {
	COLOR: #0060e3; TEXT-DECORATION: none
}
.index-toplink .pc_login-top SPAN A:visited {
	COLOR: #0060e3; TEXT-DECORATION: none
}
.index-toplink .pc_login-top SPAN A:hover {
	COLOR: #0060e3; TEXT-DECORATION: underline
}
.index-toplink .pc_login-top SPAN A:active {
	COLOR: #0060e3; TEXT-DECORATION: underline
}
.pc_globallink .pc_menu LI A.v5_on:link {
	DISPLAY: block; BACKGROUND: url(http://pic.lvmama.com/img/toplink_on.gif) no-repeat left -1px; WIDTH: 102px; COLOR: #000000; HEIGHT: 45px; TEXT-DECORATION: none
}
.pc_globallink .pc_menu LI A.v5_on:visited {
	DISPLAY: block; BACKGROUND: url(http://pic.lvmama.com/img/toplink_on.gif) no-repeat left -1px; WIDTH: 102px; COLOR: #000000; HEIGHT: 45px; TEXT-DECORATION: none
}
.pc_globallink .pc_menu LI A.v5_on:hover {
	DISPLAY: block; BACKGROUND: url(http://pic.lvmama.com/img/toplink_on.gif) no-repeat left -1px; WIDTH: 102px; COLOR: #000000; HEIGHT: 45px; TEXT-DECORATION: none
}
.pc_globallink .pc_menu LI A.v5_on:active {
	DISPLAY: block; BACKGROUND: url(http://pic.lvmama.com/img/toplink_on.gif) no-repeat left -1px; WIDTH: 102px; COLOR: #000000; HEIGHT: 45px; TEXT-DECORATION: none
}
.footer_img {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; WIDTH: 984px; PADDING-TOP: 15px; TEXT-ALIGN: center
}
.footer_img IMG {
	MARGIN: 0px 10px
}
.footer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://pic.lvmama.com/img/footer_bg.gif) no-repeat; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 980px; COLOR: #666; LINE-HEIGHT: 25px; PADDING-TOP: 20px; TEXT-ALIGN: center
}
.footer A {
	FONT-WEIGHT: bold; MARGIN: 0px 7px
}
.footer A:link {
	MARGIN: 0px 7px; COLOR: #000; TEXT-DECORATION: none
}
.footer A:visited {
	MARGIN: 0px 7px; COLOR: #000; TEXT-DECORATION: none
}
.footer A:hover {
	MARGIN: 0px 7px; COLOR: #000; TEXT-DECORATION: underline
}
.footer A:active {
	MARGIN: 0px 7px; COLOR: #000; TEXT-DECORATION: underline
}
.fl {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; COLOR: #000; LINE-HEIGHT: 24px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.fl A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #666; TEXT-DECORATION: none
}
.fl A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #666; TEXT-DECORATION: none
}
.fl A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #666; TEXT-DECORATION: underline
}
.fl A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #666; TEXT-DECORATION: none
}
.pc_top {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 970px; PADDING-TOP: 10px; ZOOM: 1; HEIGHT: 50px
}
.pc_logo {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
.pc_index_phone {
	MARGIN: 0px 0px 7px 25px
}
.pc_toplink {
	BACKGROUND: url(http://pic.lvmama.com/img/cart.gif) no-repeat 15px 25px; FLOAT: right; OVERFLOW: hidden; WIDTH: 312px; PADDING-TOP: 2px; ZOOM: 1; TEXT-ALIGN: right
}
.pc_toplink A:link {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.pc_toplink A:visited {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.pc_toplink A:hover {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
.pc_toplink A:active {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
.pc_toplink .pc_toplink_gouwuche {
	PADDING-LEFT: 25px
}
.pc_toplink_user {
	PADDING-RIGHT: 16px; BACKGROUND: url(http://pic.lvmama.com/img/user.gif) no-repeat right 0px
}
.pc_toplink A.pc_toplink_user:link {
	PADDING-RIGHT: 16px; COLOR: #8c0152; TEXT-DECORATION: none
}
.pc_toplink A.pc_toplink_user:visited {
	PADDING-RIGHT: 16px; COLOR: #8c0152; TEXT-DECORATION: none
}
.pc_toplink A.pc_toplink_user:hover {
	PADDING-RIGHT: 16px; COLOR: #8c0152; TEXT-DECORATION: underline
}
.pc_toplink A.pc_toplink_user:active {
	PADDING-RIGHT: 16px; COLOR: #8c0152; TEXT-DECORATION: underline
}
.pc_toplink_service {
	PADDING-RIGHT: 18px; BACKGROUND: url(http://pic.lvmama.com/img/service.gif) no-repeat 58px 0px
}
.pc_toplink A.pc_toplink_service:link {
	PADDING-RIGHT: 18px
}
.pc_toplink A.pc_toplink_service:visited {
	PADDING-RIGHT: 18px
}
.pc_toplink A.pc_toplink_service:hover {
	PADDING-RIGHT: 18px
}
.pc_toplink A.pc_toplink_service:active {
	PADDING-RIGHT: 18px
}
.pc_login_top {
	PADDING-RIGHT: 21px; PADDING-LEFT: 0px; BACKGROUND: url(http://pic.lvmama.com/img/bbs_new.gif) no-repeat right top; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; TEXT-ALIGN: right
}
.pc_search {
	DISPLAY: inline; FLOAT: right; MARGIN: 7px 5px 0px 0px; WIDTH: 270px; HEIGHT: 26px
}
.pc_search INPUT {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 5px; BACKGROUND: url(http://pic.lvmama.com/img/navsearch_bg.gif) no-repeat 0px 0px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ccc 1px solid; WIDTH: 187px; COLOR: #555; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 18px; _margin-top: 0px
}
.placeSerachId {
	HEIGHT: 26px
}
.pc_search IMG {
	VERTICAL-ALIGN: top
}
.pc_globallink {
	BACKGROUND: url(http://pic.lvmama.com/img/toplink_bg.jpg) no-repeat; MARGIN: 2px auto 10px; OVERFLOW: hidden; WIDTH: 984px; ZOOM: 1; HEIGHT: 75px
}
.pc_globallink .pc_menu LI A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.pc_globallink .pc_menu LI A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.pc_globallink .pc_menu LI A:hover {
	COLOR: #fff600; TEXT-DECORATION: none
}
.pc_globallink .pc_menu LI A:active {
	COLOR: #fff; TEXT-DECORATION: none
}
.pc_globallink .pc_menu LI STRONG A:link {
	COLOR: #000; TEXT-DECORATION: none
}
.pc_globallink .pc_menu LI STRONG A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
.pc_globallink .pc_menu LI STRONG A:hover {
	COLOR: #000; TEXT-DECORATION: none
}
.pc_globallink .pc_menu LI STRONG A:active {
	COLOR: #000; TEXT-DECORATION: none
}
.pc_menu {
	OVERFLOW: hidden; ZOOM: 1; HEIGHT: 40px
}
.pc_menu UL {
	DISPLAY: inline; FONT-SIZE: 14px; FLOAT: left; MARGIN: 5px 0px 0px 10px; OVERFLOW: hidden; COLOR: #fff; POSITION: relative; HEIGHT: 40px
}
.pc_menu UL LI {
	DISPLAY: inline; FLOAT: left; OVERFLOW: hidden; WIDTH: 99px; LINE-HEIGHT: 35px; ZOOM: 1; HEIGHT: 32px; TEXT-ALIGN: center
}
.pc_menu LI STRONG {
	DISPLAY: inline; BACKGROUND: url(http://pic.lvmama.com/img/termini_bg.png) no-repeat -500px -193px; WIDTH: 105px; COLOR: #000; ZOOM: 1; HEIGHT: 45px
}
.pc_menu LI A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; CURSOR: pointer; COLOR: #fff; FONT-FAMILY: arial, verdana, sans-serif; TEXT-DECORATION: none
}
.pc_menu UL LI.globallink_new {
	BACKGROUND: url(http://pic.lvmama.com/img/new.png) no-repeat right 5px; WIDTH: 114px; MARGIN-RIGHT: 8px
}
.infobar3 {
	BORDER-RIGHT: #ccdff2 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ccdff2 1px solid; PADDING-LEFT: 10px; BACKGROUND: #f2f8fe; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; BORDER-LEFT: #ccdff2 1px solid; WIDTH: 410px; COLOR: #743e04; PADDING-TOP: 6px; BORDER-BOTTOM: #ccdff2 1px solid; ZOOM: 1; FONT-FAMILY: arial
}
.infobar3_pro A:link {
	MARGIN: 0px 17px 0px 0px; COLOR: #0036d2; TEXT-DECORATION: none
}
.infobar3_pro A:visited {
	MARGIN: 0px 17px 0px 0px; COLOR: #0036d2; TEXT-DECORATION: none
}
.infobar3_pro2 A:link {
	MARGIN: 0px 17px 0px 0px; COLOR: #0036d2; TEXT-DECORATION: none
}
.infobar3_pro2 A:visited {
	MARGIN: 0px 17px 0px 0px; COLOR: #0036d2; TEXT-DECORATION: none
}
.infobar3_pro A:hover {
	MARGIN: 0px 17px 0px 0px; COLOR: #ea007b; TEXT-DECORATION: none
}
.infobar3_pro A:active {
	MARGIN: 0px 17px 0px 0px; COLOR: #ea007b; TEXT-DECORATION: none
}
.infobar3_pro2 A:hover {
	MARGIN: 0px 17px 0px 0px; COLOR: #ea007b; TEXT-DECORATION: none
}
.infobar3_pro2 A:active {
	MARGIN: 0px 17px 0px 0px; COLOR: #ea007b; TEXT-DECORATION: none
}
.infobar3_pro P {
	MARGIN-BOTTOM: 10px
}
.infobar3_pro2 P {
	MARGIN-BOTTOM: 10px
}
.infobar3_pro STRONG {
	DISPLAY: block; MARGIN: 0px 0px 3px; COLOR: #868686
}
.infobar3_pro A {
	MARGIN: 0px 17px 0px 0px
}
.infobar3_pro2 A {
	MARGIN: 0px 17px 0px 0px
}
.top_tips {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #666666; PADDING-TOP: 6px
}
