.color_orange {
    color: #f60;
}

.cf {
    clear: both;
}

.invoice {
    width: 820px;
    padding-left: 10px;
    padding-bottom: 20px;
    float:left;
    display:inline;
}

.issue_invoice_title {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 2px solid #e38;
}

.invoice_detail_title {
    padding-top: 15px;
    padding-bottom: 10px;
}

.invoice_detail_tab {
    overflow: hidden;
    zoom: 1;
}

.invoice_detail_tab dt, .invoice_detail_tab dd {
    float: left;
    height: 30px;
    text-align: center;
}

.invoice_detail1 {
    width: 90px;
}

.invoice_detail2 {
    width: 105px;
}

.invoice_detail3 {
    width: 95px;
}

.invoice_detail4 {
    width: 55px;
}

.invoice_detail5 {
    width: 80px;
}

.invoice_detail6 {
    width: 40px;
}

.invoice_detail7 {
    width: 110px;
}

.invoice_detail8 {
    width: 40px;
}

.invoice_detail9 {
    width: 70px;
}

.invoice_detail10 {
    width: 50px;
}

.invoice_detail11 {
    width: 80px;
}

dd.invoice_detail3, dd.invoice_detail5, dd.invoice_detail7, dd.invoice_detail9, dd.invoice_detail11 {
    font-weight: bold;
    color: #f60;
}

.invoice_price_result {
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    border-top: 2px dotted #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

.invoice_price_result .invoice_price_num {
    font-size: 16px;
    color: #f60;
}

.invoice_price_note {
    width: auto;
    float: right;
    overflow: visible;
    zoom: 1;
}

.invoice_price_note, .invoice_note_word {
    color: #666;
    text-align: left;
    text-indent: -24px;
    width: 325px;
}

.invoice_head {
    padding-bottom: 10px;
    padding-top: 20px;
}

.invoice_symbol {
    font-size: 18px;
    vertical-align: middle;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
}

.invoice_num {
    width: 30px;
    vertical-align:bottom;
}

.invoice_num_content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.invoice_one_content {
    border: 1px solid #ccc;
    padding: 20px 20px 5px 20px;
    margin-right:20px;
    position: relative;
    margin-bottom: 10px;
}
.invoice_wrap {
   
    padding-right:10px;
    padding-bottom:20px;
    padding-top:15px;
}
.invoice_num1 {
    position: absolute;
    left: 0;
    top: 0;
    background: url("../img/invoice_num_img.png") no-repeat;
    width: 34px;
    height: 39px;
    color: #fff;
    padding-left: 7px;
}

/*
.invoice_content .input-text, .invoice_address_new .input-text {
    padding-top: 0;
    padding-bottom: 0;
}
*/
.invoice_content_row {
    padding: 10px;
}

.invoice_amount {
    width: 95px;
}

.invoice_product {
    width: 110px;
}

.invoice_title {
    width: 435px;
}

.invoice_title_note {
    padding-left: 60px;
    color: #999;
    padding-top: 5px;
}

.invoice_deliver {
    margin-right: 10px;
    vertical-align: text-top;
    cursor: pointer;
}

.invoice_deliver_row {
    padding: 5px;
}

.invoice_default_address {
    cursor: pointer;
}

.invoice_other_address {
    text-decoration: underline;
    cursor: pointer;
}

.invoice_address_tag {
    width: 15px;
    height: 15px;
    display: inline-block;
    _display: inline;
    _zoom: 1;
    background: url("invoice_num_img.png");
    margin-left: 5px;
    background-repeat: no-repeat;
    background-position: -30px -40px;
}

.other_address_active .invoice_address_tag {
    background-position: -5px -40px;
}

.invoice_address_new {
    padding: 10px 15px;
    border: 1px solid #ccc;
    background-color: #FAFAFA;
    width: 660px;
    margin-top: 15px;
    margin-left: 22px;
}

.invoice_new_row {
    padding-top: 8px;
    padding-bottom: 8px;
}

.invoice_consignee {
    width: 100px;
}

.invoice_tel {
    width: 180px;
}

/*order_detail*/
.order_detail {
    width: 980px;
    border: 1px solid #ececec;
    padding: 10px;
}

.order_detail_title {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 2px solid #e38;
}

.order_small_title {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid #ececec;
}

.order_visitor_info dd {
    padding: 5px;
    border-bottom: 1px dotted #ececec;
}

.order_visitor_info .order_contact_tel {
    padding-left: 50px;
}

.order_info_list {
    padding-left: 10px;
    padding-right: 10px;
}

.order_delivery_info, .order_delivery_remark {
    padding-top: 10px;
}

ul.order_info_detail {
    padding-top: 10px;
    width: 500px;
    overflow: hidden;
    zoom: 1;
}

ul.order_info_detail li {
    width: 250px;
    float: left;
}

.order_product_tab, .order_invoice_tab {
    margin-bottom: 20px;
}

.order_product_tab th, .order_product_tab td, .order_invoice_tab th, .order_invoice_tab td {
    border: 1px solid #ececec;
    padding: 5px 10px;
}

.order_invoice_tab th, .order_invoice_tab td {
    text-align: center;
}

.order_product_tab th, .order_invoice_tab th {
    background-color: #f8f8f8;
}

.order_invoice_tab {
    margin-top: 20px;
}

.order_price {
    text-align: right;
}

.order_price .order_price_symbol {
    padding-left: 5px;
    padding-right: 5px;
}

.order_big_price {
    font-size: 18px;
}

.invoice_detail_address {
    width: 430px;
}

.invoice_submit_btn {
    font-size: 14px;
    margin-top: 10px;
}
.invoice_num_btn{
    margin-left: 10px;
    *margin-top:4px;
}

/*invoice_success*/
.invoice_success_content {
    padding: 50px;
    overflow: hidden;
    zoom: 1;
}

.invoice_success {
    font-size: 16px;
    padding-bottom: 15px;
    color: #f60;
    padding-top: 10px;
}

.color_blue {
    color: #08c;
}

.invoice_success_img {
    float: left;
    margin-top: 15px;
}

.invoice_success_note {
    float: left;
    padding-left: 15px;
}

/*my order*/
.toolbar .order_submit_btn {
    color: #fff;
    margin-right: 15px;
}

.order_select_all {
    vertical-align: middle;
}

.order_product_name {
    border: 1px solid #eee;
    margin-bottom: 10px;
}

.order_product_name td, .order_product_name th {
    padding-top: 3px;
    padding-bottom: 3px;
}

.order_product_name th {
    border-bottom: 1px solid #eee;
    padding-left: 10px;
}

.order_product_name .thead {
    background-color: #f5f5f5;
}

.order_tab_span {
    padding-right: 30px;
}

.order_table {
    margin-bottom: 10px;
}
.footbar td{
    border: none;
}
.combine_pay_btn{
    text-align: center;
}

/*invoice_success*/
.invoice_success_content{
    padding: 50px;
    overflow: hidden;
    zoom: 1;
}
.invoice_success{
    font-size: 16px;
    padding-bottom: 15px;
    color: #f60;
    padding-top: 10px;
}
.color_blue{
    color: #08c;
}
.invoice_success_img{
    float: left;
    margin-top:15px;
}
.invoice_success_note{
    float: left;
    padding-left:15px;
}