.input-date {
	BORDER-BOTTOM: #e290ba 1px solid; BORDER-LEFT: #e290ba 1px solid; BACKGROUND: url(http://pic.lvmama.com/img/super_v2/cal_ui.gif) #fff no-repeat right center; BORDER-TOP: #e290ba 1px solid; BORDER-RIGHT: #e290ba 1px solid
}
.cal-ui {
	POSITION: absolute; MARGIN: 5px 12px 0px 2px; WIDTH: 17px; BACKGROUND: url(http://pic.lvmama.com/img/super_v2/cal_ui.gif) no-repeat 0px 0px; HEIGHT: 16px; CURSOR: pointer; RIGHT: 15px; _right: 37px
}
.calendar-ui {
	Z-INDEX: 999; BORDER-BOTTOM: #c06 1px solid; POSITION: absolute; BORDER-LEFT: #c06 1px solid; WIDTH: 225px; BORDER-TOP: #c06 1px solid; BORDER-RIGHT: #c06 1px solid
}
.calendar-ui .cal-left-btn {
	POSITION: absolute; CURSOR: pointer
}
.calendar-ui .cal-left-btn-c {
	POSITION: absolute; CURSOR: pointer
}
.calendar-ui .cal-right-btn {
	POSITION: absolute; CURSOR: pointer
}
.calendar-ui .cal-right-btn-c {
	POSITION: absolute; CURSOR: pointer
}
.calendar-ui .cal-left-btn {
	LEFT: 0px
}
.calendar-ui .cal-left-btn-c {
	LEFT: 0px
}
.calendar-ui .cal-right-btn {
	RIGHT: 0px
}
.calendar-ui .cal-right-btn-c {
	RIGHT: 0px
}
.calendar-ui TABLE {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND-COLOR: #fff; WIDTH: 225px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.calendar-ui TABLE THEAD TR TH {
	POSITION: relative; TEXT-ALIGN: center; BACKGROUND-COLOR: #cd0568; WIDTH: 14%; HEIGHT: 25px; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.calendar-ui TABLE THEAD TR TH STRONG {
	WIDTH: 45px; DISPLAY: inline-block; COLOR: #fff; FONT-WEIGHT: bold
}
.calendar-ui TABLE TBODY TH {
	TEXT-ALIGN: center; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #e8e3e7; PADDING-LEFT: 3px; WIDTH: 14%; PADDING-RIGHT: 3px; HEIGHT: 22px; FONT-WEIGHT: 100; PADDING-TOP: 3px
}
.calendar-ui TABLE TBODY TR TD {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.calendar-ui TABLE TBODY TR TD {
	TEXT-ALIGN: center; PADDING-BOTTOM: 3px; LINE-HEIGHT: 15px; PADDING-LEFT: 3px; WIDTH: 14%; PADDING-RIGHT: 3px; HEIGHT: 22px; COLOR: #999; FONT-SIZE: 12px; VERTICAL-ALIGN: top; PADDING-TOP: 3px
}
.calendar-ui TABLE TBODY TR TD.first {
	BORDER-LEFT: #ccc 1px solid
}
.calendar-ui TABLE TBODY TR TD.p_has {
	COLOR: #000
}
.calendar-ui TABLE TBODY TR TD SPAN {
	COLOR: #999; FONT-WEIGHT: 100
}
.calendar-ui TABLE TBODY TR TD.has-pro {
	DISPLAY: block; COLOR: #05e; CURSOR: pointer; FONT-WEIGHT: bold
}
.calendar-ui TABLE TBODY TR TD EM {
	COLOR: #666; FONT-WEIGHT: bold
}
.calendar-ui TABLE TBODY TR TD FONT {
	FONT-WEIGHT: bold
}
.calendar-ui TABLE TBODY TR TD I {
	FONT-STYLE: normal; FONT-WEIGHT: bold
}