.tab1-cc {font-size:12px;border:1px solid #86A4BE;margin-top:10px;background:#ddd;}
.tab1-cc tr td {height:25px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;padding:3px;}
.tab1-cc tr td .input1 {line-height:1.5;margin:5px auto;width:115px;}
.tab1-cc .tab1-cc-tr1 {background:#fff;}
.tab1-cc .tab1-cc-tr2 {background:#F0FAFF;}
/*.tab1-cc tr{ background-color:expression('#fff,#F0FAFF'.split(',')[rowIndex%2]); }*/
.tab1-cc tr.tr1 td {background:#fff url(../../themes/callCenter/images/bg-tab.gif) repeat-x left top;height:22px;font-weight:700;}
.tab1-span-left {float:left;display:inline-block;}
.tab1-span {color:#000;float:left;display:inline-block;width:145px;height:21px;}
.tab1-span2 {display:inline-block;float:right;color:red;}

.tab1-cc-2 {width:98%;}
.tab1-cc-3 {width:98%;}
.red {color: red;float:left;}
.error {width: 10px; padding:2px;}

.tab-span {color:#000;float:left;display:inline-block;width:140px;height:21px;}