<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-autowire="byName">   
    <bean id="prodTrainService"
        class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${superPublic.serviceUrl}/prodTrainService" />
        <property name="serviceInterface" value="com.lvmama.comm.bee.service.prod.ProdTrainService" />
        <property name="chunkedPost" value="false" />
        <property name="overloadEnabled" value="true" />
    </bean>
    <bean id="trainDataSyncServiceProxy"
 			class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl" value="${passportPublic.serviceUrl}/trainDataSyncServiceProxy" />
		<property name="serviceInterface" value="com.lvmama.comm.bee.service.TrainDataSyncService" />
		<property name="chunkedPost" value="false" />
		<property name="overloadEnabled" value="true"/>
	</bean>
</beans>