<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-autowire="byName">
	<!-- 通过Spring HttpInvoker机制暴露远程访问服务，命名规则为xxBean -->
	<!-- <bean id="localProductRemoteBean" class="com.lvmama.product.remote.ProductRemoteServiceImpl" 
		/> -->
	<bean id="beeProdProductService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl" value="${superPublic.serviceUrl}/beeProdProductService" />
		<property name="serviceInterface" value="com.lvmama.comm.bee.service.prod.BeeProdProductService" />
		<property name="chunkedPost" value="false" />
		<property name="overloadEnabled" value="true" />
	</bean>
	
	<bean id="prodProductHeadService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl" value="${petPublic.serviceUrl}/prodProductHeadService" />
		<property name="serviceInterface" value="com.lvmama.comm.pet.service.prod.ProdProductHeadService" />
		<property name="chunkedPost" value="false" />
		<property name="overloadEnabled" value="true" />
	</bean>	 
</beans>