@charset "utf-8";
/* CSS Document */
i {
	font-style: normal;
}

body {
	background: #ddd;
}

/*CSS开始*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,select,textarea,p,blockquote,th,td,hr,button,figure,menu
	{
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
}

ol,ul {
	list-style: none outside;
}

a img {
	border: none;
	vertical-align: top;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.box {
	background: #fff;
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

.small-pic {
	width: 470px;
	height: auto;
	float: left;
	margin-left: 20px;
	margin-bottom: 10px;
}

.box h2 {
	color: #000;
	font-size: 16px;
	line-height: 30px;
	background: #f0f5fc;
	margin-top: 10px;
	text-indent: 2em;
	border: 1px solid #ccc;
	font-weight: normal;
}

.small-box {
	width: 208px;
	height: 108px;
	border: 1px solid #ddd;
	margin-top: 10px;
	float: left
}

.small-box img {
	margin-left: 4px;
	margin-top: 4px;
	cursor: pointer;
}

.middle-pic {
	width: 470px;
	height: auto;
	float: left;
	margin-left: 20px;
	margin-bottom: 10px;
}

.middle-box {
	width: 208px;
	height: 158px;
	border: 1px solid #ddd;
	margin-top: 10px;
	float: left
}

.middle-box img {
	margin-left: 4px;
	margin-top: 4px;
	cursor: pointer;
}

.big-pic {
	width: 960px;
	height: auto;
	float: left;
	margin-left: 20px;
	margin-bottom: 30px;
	overflow: hidden;
	zoom: 1;
}

.big-pic h2 {
	color: #000;
	font-size: 16px;
	line-height: 30px;
	background: #f0f5fc;
	margin-top: 10px;
	text-indent: 2em;
	border: 1px solid #ccc;
	font-weight: normal;
}

.updatepic {
	background: url(../images/bj.jpg) no-repeat;
	width: 75px;
	height: 28px;
	display: inline-block;
	text-align: center;
	text-indent: 0em;
	color: #fff;
	font-size: 12px;
	margin-left: 20px;
	line-height: 28px;
	cursor: pointer;
	font-weight: bold;
}

.showall {
	background: url(../images/noshow.jpg) no-repeat;
	width: 120px;
	height: 28px;
	display: inline-block;
	text-align: center;
	text-indent: 0em;
	color: #000;
	font-size: 12px;
	margin-left: 20px;
	line-height: 28px;
	cursor: pointer
}

.onlylist {
	background: url(../images/noshow.jpg) no-repeat;
	width: 120px;
	height: 28px;
	display: inline-block;
	text-align: center;
	text-indent: 0em;
	color: #000;
	font-size: 12px;
	margin-left: 10px;
	line-height: 28px;
	cursor: pointer
}

.big-pic ul {
	margin-left: -15px;
	margin-top: 10px;
}

.big-pic ul li {
	float: left;
	width: 308px;
	height: auto;
	margin-left: 15px;
	margin-top: 8px;
	border: 1px solid #ddd;
}

.big-pic ul li h3 {
	width: 300px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	margin-left: 4px;
	color: #555;
	font-size: 12px;
	font-weight: normal;
}

.big-box {
	vertical-align: top;
	width: 308px;
	height: 200px;
	display: inline-block;
}

.big-box img {
	margin-left: 4px;
	margin-top: 4px;
	cursor: pointer;
}

.small-pic .btn {
	float: left;
	margin-top: 10px;
	margin-left: 15px;
}

.middle-pic .btn {
	float: left;
	margin-top: 10px;
	margin-left: 15px;
}

.big-pic ul li .btn {
	float: left;
	margin-left: 4px;
	margin-right: 11px;
	margin-bottom: 5px;
}