*{margin:0;padding:0;}
body{height:100%;font-size:12px;font-family:'宋体';color:#333;}
img{border:none;}
table,th,td {margin:0;padding:0; border-collapse:collapse;font:12px simsun;}
ul,dl,ol{list-style:none;}
a {cursor:pointer;color:#06c;text-decoration:none;}
a:hover{text-decoration:underline;}

.user-group {/*width:876px;*/width:96%;width:100%\0;*width:100%;padding:10px;border:2px solid #BAD9FA;margin:10px;}
.user-group span {height:22px;line-height:22px;padding:0 10px;border-right:1px solid #ccc;zoom:1;display:inline;}
.col1 {width:195px;}
.col2 {width:195px;}
.col3 {width:230px;}
.user-group .col4 {border:none;}
.user-group em {color:#c06;font-style:normal;}

.order-search {/*width:876px;*/width:96%;width:100%\0;*width:100%;padding:10px;border:2px solid #BAD9FA;margin:10px;}
.order-search input {font-size:12px;width:115px;height:18px;padding:2px 5px;border:1px solid #A1C5E6;background-color:#F2FAFF;margin-right:15px;_margin-bottom:-3px;}
.order-search button {padding:1px 10px;_margin-bottom:-3px;}
.date {clear:both;color:#666;margin-top:10px;}

.passport-order {/*width:900px;*/width:98%;border:2px solid #BAD9FA;margin:10px;padding:10px;}
.passport-order th {height:25px;font-weight:normal;border:1px solid #bad9fa;border-top:none;border-left:1px solid #fff;background:url(http://pic.lvmama.com/img/theadbg.gif) repeat-x left bottom;}
.passport-order td {text-align:center;padding:5px;line-height:18px;}
.passport-order tr.cbg {background-color:#EAF4FF;}
.view{display:none;width:500px;padding:15px;border:1px solid #B8B8B8;margin:0 auto;background-color:#fff;position:absolute;z-index:10;}
.order-info2 {width:550px;padding:15px;border:1px solid #B8B8B8;margin:0 auto;background-color:#fff;position:absolute;left:50%;top:0;margin-left:-290px;margin-left:-275px\0;z-index:10;}
.view h3,.order-info h3,.order-info2 h3 {font:bold 12px simsun;}
.view-content {border:1px solid #BAD9FA;padding:20px 15px;margin-top:10px;}
.view-content p {padding:5px 0;}
.alphabg {font-size:0;line-height:0;}
.closebtn {cursor:pointer;position:absolute;top:5px;right:5px;}
.order-info table,.order-info2 table {width:100%;margin:10px 0;}
.order-info th,.order-info td,.order-info2 th,.order-info2 td {padding:3px 5px;border:1px solid #bad9fa;}
.order-info th,.order-info2 th {font-weight:normal;}
.order-info td strong,.order-info2 td strong {color:#c06;}
.order-info td em,.order-info2 td em {color:#c06;font-style:normal;} 
.order-info td span,.order-info2 td span {color:#999;}
.info1 th,.info1 td,.info2 th,.info2 td {line-height:22px;}
.info1 th {text-align:right;width:131px}
.info2 td {text-align:center;}
.info1 input {width:70px;height:22px;border:1px solid #A1C5E6;}
.btns {text-align:center;}
.btns button {padding:3px 10px;margin:0 10px;}
.func-btn {color:#fff;font-weight:bold;width:58px;height:20px;line-height:20px;text-align:center;margin:0 2px;background:url(http://pic.lvmama.com/img/icons/btnbg.gif) no-repeat 0 0;display:inline-block;zoom:1;}
a.func-btn:hover {text-decoration:none;}
.edit-info {display:none;}