body {
			margin-left: 0px;
			margin-top: 0px;
			margin-right: 0px;
			margin-bottom: 0px;
		}
		.newfont03 td{ text-align:center;}
		.tabfont01 {	
			font-family: "宋体";
			font-size: 9px;
			color: #555555;
			text-decoration: none;
			text-align: center;
		}
		.font051 {font-family: "宋体";
			font-size: 12px;
			color: #333333;
			text-decoration: none;
			line-height: 20px;
		}
		.font201 {font-family: "宋体";
			font-size: 12px;
			color: #FF0000;
			text-decoration: none;
		}
		.button {
			font-family: "宋体";
			font-size: 14px;
			height: 37px;
		}
		
		html { overflow-x: auto; overflow-y: auto; border:0;} 
		#subtree1 span{color:#666;padding-left:10px;}
		.shenhe_top{border:1px solid #e3e197;background:#ffffdd;margin:0 auto 5px;padding:10px;}
		.shenhe_top span{color:#555;padding-left:30px;}
		
		
		#level_div {
			z-index: 1000;
			width: 95%;
			/*height: 40px;*/
			height:auto;
			background: #ccc;
			border: #336699 1px solid;
			position: absolute;
			display: none;
			float:left;
		}
		#level_div div{
			display:block;
			margin: 2px 5px;
			/*height: 24px;*/
		}
		#button_div {
			float: right;
			padding:10px 30px 0 0;
		}
		#lv_div {
			padding:10px 0 0 60px;
			width: 60%;
			float: left;
			height: auto;
		}
		#close_div{
			width: 10%;
			float: left;
		}
		.lv_a {
			background: #fff;
		}
		
		#close_a{
			font-size: 20px;
		}
		.chk{
			font-weight: 600;
			font-size: 16px;
		}
		#lv_div ul{
			display: inline-block;
			float: left;
			width: 100%;
			margin: 3px 0;
		} 
		
	    .bgLogin {
		    background-color: #000000;opacity:0.4;filter:alpha(opacity=40);
		    display: none;
		    height: 100%;
		    left: 0;
		    position: fixed;
		    top: 0;
		    width: 100%;
		    z-index: 9998;
		}
		
		.btn-close {
		    cursor: pointer;
		    display: block;
		    float: right;
		    height: 16px;
		    line-height: normal;
		    position: absolute;
		    right: 5px;
		    top: 5px;
		    width: 16px;
		}
		
		.LoginAndReg {
		    background-color: #FFFFFF;
		    border: 2px solid #CC0066;
		    display: none;
		    left: 0;
		    position: absolute;
		    top: 0;
		    width: 500px;
		    z-index: 99999;
		}