@charset "utf-8";
html,body {_height:100%;}
.float-layer {display:none;color:#000;width:624px;height:439px;/*padding:20px 10px;background:#e67aca;border:2px solid #c50092;*/position:absolute;z-index:200; font-size:14px; font-family:Arial, Helvetica, sans-serif, 宋体;}
.float-layer span {cursor:pointer;display:block;position:absolute;right:7px;top:7px;padding:2px;color:#000;border-left:1px solid #ffceea;border-top:1px solid #ffceea;border-right:1px solid #320d23;border-bottom:1px solid #320d23;background-color:#ff9dd4;}
.float-layer strong {color:#000; font-size:16px; padding-left:10px; padding-bottom:10px;}
.float-layer table td {line-height:30px; font-size:14px;}

.bg-float-layer {height:100%;width:100%;position:fixed;_position:absolute;left:0;top:0;filter:Alpha(opacity=20);-moz-opacity:0.2;opacity:0.2;background-color:#000;z-index:199;display:none;}